<div ng-controller="adoptionDeadlinePageController">
  <h2>ADOZIONI IN SCADENZA</h2>
  <div style="float: right;">
    <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="CaricaCodici()">CARICA CODICI</md-button>
    <input id="fileLoadCVSDocument" accept=".csv" name="file" type="file" class="ng-hide" onchange="angular.element(this).scope().CVSLoaded(this)">      
    <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="InviaCodici()">CONFERMA</md-button>
  </div>
  <div layout="column">
    <md-input-container>
      <p style="font-weight: bold;">LISTA ISBN:</p><textarea ng-model="ListaCodici" rows="20" cols="20" flex=100></textarea>
    </md-input-container>
  </div>
</div>