<md-dialog>
 <form ng-cloak name="PopupForm">
   <md-toolbar>
     <div class="md-toolbar-tools">
       <h2 style="font-weight:bold;color:white;">ADOZIONI ISTITUTO</h2>
     </div>
   </md-toolbar>

   <md-dialog-content>
         <input type="checkbox" ng-model="AdozioniGestite" ng-change="VisualizzaAdozioni(thisIstituto,thisIstitutoNome)" style="margin-left:25px;margin-right:2px;margin-top:30px;width:2%;">
         <label style="margin-left:5px;margin-right:2px;margin-top:27px;">ADOZIONI GESTITE</label>  
         <img ng-if="IstitutoListaAdozioni.length > 0" src="img/printPDF.png" style="width:70px;height:auto;float:right;margin-top:20px;margin-right: 20px;" title="STAMPA ADOZIONI" ng-click="CreaPdfListaAdozioni()"></img>    
 
     <div class="md-dialog-content" style="width:800px;">  
         <p style="font-weight:bold;text-align:center;" ng-if="IstitutoListaAdozioni.length == 0">NESSUNA ADOZIONE REGISTRATA</p>
         <br>
         <div layout="row">
           <md-input-container class="containerSelect" style="width:30%;margin-right:20px;"><label>ANNO</label>
             <md-select ng-model="AnnoFiltro" placeholder="ANNO" class="mdb-select" type="text" name="AnnoFiltro">
             <md-optgroup>
               <md-option ng-value="-1">QUALSIASI</md-option>  
               <md-option ng-repeat="anno in ListaAnniClassi" ng-value="anno">{{anno}}</md-option>
             </md-optgroup>
             </md-select>
           </md-input-container>
           <md-input-container class="containerSelect" style="width:60%;"><label>COMBINAZIONE</label>
             <md-select ng-model="CombinazioneFiltro" placeholder="COMBINAZIONE" class="mdb-select" type="text" name="CombinazioneFiltro">
             <md-optgroup>
               <md-option ng-value="-1">QUALSIASI</md-option>  
               <md-option ng-repeat="combinazione in ListaCombinazioni" ng-value="combinazione">{{combinazione}}</md-option>
             </md-optgroup>
             </md-select>
           </md-input-container>
         </div>
         <table style="text-align:center;width:750px;" md-row-select="GridOptionsAdoz.rowSelection" multiple="{{GridOptionsAdoz.multiSelect}}">
          <tr>
            <th>CLASSE</th>
            <th>MATERIA - CODICE - TITOLO - EDITORE - PREZZO</th>
          </tr>
          <tr ng-repeat="classe in IstitutoListaAdozioni | AdozioneByFiltroDoc : AnnoFiltro : CombinazioneFiltro | limitTo : GridOptionsAdoz.query.limit : (GridOptionsAdoz.query.page - 1) * GridOptionsAdoz.query.limit">
            <td style="padding-top:30px;padding-bottom: 30px;">{{classe.NomeClasse}} {{classe.CombinazioneClasse}}</td>
            <td style="text-align:center;padding-top:30px;padding-bottom: 30px;" ng-bind-html="GetTitoliClasseIstituto(classe)"></td>
          </tr>
        </table>
        <md-table-pagination md-limit="GridOptionsAdoz.query.limit" 
                             md-limit-options="GridOptionsAdoz.limitOptions" 
                             md-page="GridOptionsAdoz.query.page" 
                             md-total="{{IstitutoListaAdozioni.length}}" 
                             md-page-select="GridOptionsAdoz.pageSelect" 
                             md-boundary-links="GridOptionsAdoz.boundaryLinks" 
                             md-on-paginate="logPagination"
                             style="width:750px;"
                             ng-if="IstitutoListaAdozioni.length > 0"></md-table-pagination>
     </div>
   </md-dialog-content>

   <md-dialog-actions layout="row">
     <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="ChiudiPopupAdozioni()">
      CHIUDI
     </md-button>
   </md-dialog-actions>
 </form>
</md-dialog>