<md-dialog>
  <form ng-cloak name="PopupCaricoTitoloForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 style="font-weight:bold;color:white;">TITOLO</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-input-container class="containerSelect" style="margin-right:10px;width:600px;" >
          <md-autocomplete 
                      md-input-name="TitoloCarico"
                      md-autofocus="true"
                      md-no-cache="true"
                      md-select-item="TitoloPopup"
                      md-selected-item-change = "selectedItemChangeTitolo(item)"
                      md-search-text="searchTextTit"
                      md-items="item in queryTitolo(searchTextTit)"
                      md-item-text="item.Nome"
                      md-require-match="true"
                      md-clear-button="true">
          <md-item-template>
            <span md-highlight-text="searchText">ISBN : {{item.Codice}} - {{item.Nome}}</span>
          </md-item-template>
        </md-input-container> 
        
        <md-input-container class="containerSelect"><label>QUANTITA</label>         
          <input ng-model="Titolo.QUANTITA" type="number" min=0 max={{Titolo.QuantitaMgzn}} name="Quantita">
        </md-input-container>  
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="ConfermaPopupTitolo($event)">
       CONFERMA
      </md-button>
      <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="AnnullaPopupTitolo()">
       ANNULLA
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>