<div ng-controller="changePasswordPageController" layout="column" layout-align="center center" style="width:100%;" md-theme="{{ActualTheme}}">
  <form name="ChangePasswordForm" layout="column" ng-submit="ChangePassword()" style="width:30%;text-align:center;">
    <h2>CAMBIO PASSWORD</h2> 
    <label class="LabelError" ng-if="PasswordError" ng-bind="PasswordErrorMessage"></label>
    <md-input-container>
      <label>Vecchia password</label><input ng-model="VecchiaPassword" name="VecchiaPassword" type="password" required>
      <div ng-messages="ChangePasswordForm.VecchiaPassword.$error" multiple md-auto-hide="true">
         <div ng-message="required">Inserire la vecchia password</div>
      </div>
    </md-input-container>
    
    <md-input-container>
      <label>Nuova password</label><input ng-model="NuovaPassword" name="NuovaPassword" type="password" required>
      <div ng-messages="ChangePasswordForm.NuovaPassword.$error" multiple md-auto-hide="true">
         <div ng-message="required">Inserire la nuova password</div>
      </div>
    </md-input-container>

    <md-input-container>
      <label>Ridigita password</label><input ng-model="RidigitaPassword" name="RidigitaPassword" type="password" required password-verify="NuovaPassword">
      <div ng-messages="NuovaPassword" multiple md-auto-hide="true">
         <div ng-message="required">Reinserire la nuova password</div>
      </div>
    </md-input-container>
    
    <div layout="row" layout-align="center">
      <md-button class="md-raised md-accent" style="font-weight:bold;" type="submit">Conferma</md-button>
      <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="OnAnnullaClicked();">Annulla</md-button>
    </div>
  </form>
</div>