<div ng-controller="configurationsListPageController">
  
  <div style="text-align:center;">
  <h2>CONFIGURAZIONI</h2>
  <md-input-container class="containerSelect" style="width:50%;">
     <md-select ng-model="ConfigurazioneSelezionata" placeholder="Configurazione" style="font-size:20px;" class="mdb-select" type="text" name="Configurazione">
     <md-optgroup>
       <md-option ng-repeat="configurazione in ListaConfigurazioni" ng-value="$index">{{configurazione}}</md-option>
     </md-optgroup>
     </md-select>
   </md-input-container>
  </div>

  <div ng-if="ConfigurazioneSelezionata==0">
    <div>
      <h2 style="float:left;">COMBINAZIONI CLASSI</h2>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="NuovaCombinazione()">NUOVA COMBINAZIONE</md-button>
    </div>
    <table style="width:100%;text-align:center;" md-row-select="GridOptions.rowSelection" multiple="{{GridOptions.multiSelect}}">  
      <tr>
        <th></th>
        <th></th> 
        <th style="font-weight:bold;">COMBINAZIONE</th>
      </tr>  
      <tr ng-repeat="combinazione in ListaCombinazioni | limitTo : GridOptions_5.query.limit : (GridOptions_5.query.page - 1) * GridOptions_5.query.limit" id={{combinazione.Chiave}}>
        <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA COMBINAZIONE" ng-click="EliminaCombinazione(combinazione)"></td> 
        <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA COMBINAZIONE" ng-click="ModificaCombinazione(combinazione)"></td>        
        <td>{{combinazione.Descrizione | uppercase}}</td>
      </tr>    
    </table>
    <md-table-pagination md-limit="GridOptions_5.query.limit" 
                         md-limit-options="GridOptions_5.limitOptions" 
                         md-page="GridOptions_5.query.page" 
                         md-total="{{ListaCombinazioni.length}}" 
                         md-page-select="GridOptions_5.pageSelect" 
                         md-boundary-links="GridOptions_5.boundaryLinks" 
                         md-on-paginate="logPagination"></md-table-pagination>
  </div>

  <div ng-if="ConfigurazioneSelezionata==1">
    <div>
      <h2 style="float:left;">CASE EDITRICI GESTITE</h2>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="NuovaCasa()">NUOVA CASA EDITRICE GESTITA</md-button>
    </div>
    <table style="width:100%;text-align:center;" md-row-select="GridOptions_5.rowSelection" multiple="{{GridOptions_5.multiSelect}}">  
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th style="font-weight:bold;">NOME</th>
        <th style="font-weight:bold;">GRUPPO</th>
      </tr>  
      <tr ng-repeat="casa in ListaCase | limitTo : GridOptions_6.query.limit : (GridOptions_6.query.page - 1) * GridOptions_6.query.limit" id={{casa.Chiave}}>
        <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA CASA EDITRICE GESTITA" ng-click="EliminaCasa(casa)"></td> 
        <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA CASA EDITRICE GESTITA" ng-click="ModificaCasa(casa)"></td>
        <td><img src="img/groups.png" style="width:30px;height:auto;" title="MODIFICA GRUPPO CASA EDITRICE GESTITA" ng-click="ModificaGruppoCasa(casa)"></td>         
        <td>{{casa.Descrizione}}</td>
        <td>{{casa.GruppoNome}}</td>
      </tr>    
    </table>
    <md-table-pagination md-limit="GridOptions_6.query.limit" 
                         md-limit-options="GridOptions_6.limitOptions" 
                         md-page="GridOptions_6.query.page" 
                         md-total="{{ListaCase.length}}" 
                         md-page-select="GridOptions_6.pageSelect" 
                         md-boundary-links="GridOptions_6.boundaryLinks" 
                         md-on-paginate="logPagination"></md-table-pagination>
  </div>

  <div ng-if="ConfigurazioneSelezionata==2">
    <form name="DittaEditForm" layout="column" style="width:100%" ng-submit="ConfermaDati()">
      <div>    
        <h2 style="float:left;">DATI PAGINA43</h2>
        <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" type="submit">CONFERMA</md-button>
        <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="AnnullaDati()">ANNULLA</md-button>
      </div>
      <br>
      <div layout="column">
        <div layout="row">
          <md-input-container style="width:25%;">
            <label>INDIRIZZO</label><input ng-model="DatiDitta.INDIRIZZO" type="text" name="Indirizzo">
          </md-input-container>
          <md-input-container style="width:25%;">
            <label>TELEFONO</label><input ng-model="DatiDitta.TELEFONO" type="text" name="Telefono">
          </md-input-container>
          <md-input-container style="width:25%;">
            <label>EMAIL</label><input ng-model="DatiDitta.EMAIL" type="email" name="Email">
          </md-input-container>
          <md-input-container style="width:25%;">
            <label>EMAIL PER CONOSCENZA</label><input type="email" ng-model="DatiDitta.EMAIL_ARCHIVIO" type="text" name="EmailArchivio">
          </md-input-container>
          <br>          
          <md-input-container style="width:25%;">
            <label>SITO WEB</label><input ng-model="DatiDitta.SITO_WEB" type="text" name="SitoWeb">
          </md-input-container>
        </div>
          <md-input-container style="width:100%;">
            <label>URL CALENDARIO</label><input ng-model="DatiDitta.URL_CALENDARIO" type="text" name="UrlCalendario">
          </md-input-container>
          <div>
            <input type="checkbox" ng-model="DatiDitta.CALENDARIO_VISIBILE"><label style="margin-top:28px;">VISUALIZZA CALENDARIO</label>
          </div>
          <br>
          <div>
            <md-input-container>
              <label>NUMERO MEDIO ALUNNI</label><input ng-model="DatiDitta.NR_ALUNNI" type="number" min=0 max=100 name="NumeroAlunni">
            </md-input-container>  
          </div>
      </div>
    </form>
  </div>

  <div ng-if="ConfigurazioneSelezionata==3">
    <div>
      <h2 style="float:left;">GRUPPI CASE EDITRICI</h2>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="NuovoGruppo()">NUOVO GRUPPO</md-button>
    </div>
    <table style="width:100%;text-align:center;" md-row-select="GridOptions_8.rowSelection" multiple="{{GridOptions_8.multiSelect}}">  
      <tr>
        <th></th>
        <th></th> 
        <th style="font-weight:bold;">NOME</th>
      </tr>  
      <tr ng-repeat="gruppo in ListaGruppi | limitTo : GridOptions_8.query.limit : (GridOptions_8.query.page - 1) * GridOptions_8.query.limit" id={{gruppo.Chiave}}>
        <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA GRUPPO" ng-click="EliminaGruppo(gruppo)"></td> 
        <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA GRUPPO" ng-click="ModificaGruppo(gruppo)"></td>        
        <td>{{gruppo.Descrizione}}</td>
      </tr>    
    </table>
    <md-table-pagination md-limit="GridOptions_8.query.limit" 
                         md-limit-options="GridOptions_8.limitOptions" 
                         md-page="GridOptions_8.query.page" 
                         md-total="{{ListaGruppi.length}}" 
                         md-page-select="GridOptions_8.pageSelect" 
                         md-boundary-links="GridOptions_8.boundaryLinks" 
                         md-on-paginate="logPagination"></md-table-pagination>
  </div>

  <div ng-if="ConfigurazioneSelezionata==4">
    <div>
      <h2 style="float:left;">LUOGHI DISPONIBILITA' DOCENTI</h2>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="NuovoLuogo()">NUOVO LUOGO DISPONIBILITA'</md-button>
    </div>
    <table style="width:100%;text-align:center;" md-row-select="GridOptions_7.rowSelection" multiple="{{GridOptions_7.multiSelect}}">  
      <tr>
        <th></th>
        <th></th> 
        <th style="font-weight:bold;">DESCRIZIONE</th>
      </tr>  
      <tr ng-repeat="luogo in ListaLuoghi| limitTo : GridOptions_7.query.limit : (GridOptions_7.query.page - 1) * GridOptions_7.query.limit" id={{luogo.Chiave}}>
        <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA LUOGO DISPONIBILITA'" ng-click="EliminaLuogo(luogo)"></td> 
        <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA LUOGO DISPONIBILITA'" ng-click="ModificaLuogo(luogo)"></td>        
        <td>{{luogo.Descrizione}}</td>
      </tr>    
    </table>
    <md-table-pagination md-limit="GridOptions_7.query.limit" 
                         md-limit-options="GridOptions_7.limitOptions" 
                         md-page="GridOptions_7.query.page" 
                         md-total="{{ListaLuoghi.length}}" 
                         md-page-select="GridOptions_7.pageSelect" 
                         md-boundary-links="GridOptions_7.boundaryLinks" 
                         md-on-paginate="logPagination"></md-table-pagination>
  </div>
  
  <div ng-if="ConfigurazioneSelezionata==5">
      <div>
        <h2 style="float:left;">MATERIE</h2>
        <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="NuovaMateria($event)">NUOVA MATERIA</md-button>
      </div>
      <table style="width:100%;text-align:center;" md-row-select="GridOptions.rowSelection" multiple="{{GridOptions.multiSelect}}">  
        <tr>
          <th></th>
          <th></th>
          <th></th> 
          <th style="font-weight:bold;">MATERIA</th>
          <th style="font-weight:bold;">ISTITUTI</th>
        </tr>  
        <tr ng-repeat="materia in ListaMaterie | limitTo : GridOptions.query.limit : (GridOptions.query.page - 1) * GridOptions.query.limit" id={{materia.Chiave}}>
          <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA MATERIA" ng-click="EliminaMateria(materia)"></td> 
          <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA MATERIA" ng-click="ModificaMateria(materia)"></td> 
          <td ng-if="!(materia.Nascosta)"><img src="img/hide.png" style="width:30px;height:auto;" title="UNISCI E NASCONDI MATERIA" ng-click="UnisciMateria(materia.Chiave,materia.Descrizione)"></td>
          <td ng-if="materia.Nascosta"><img src="img/notHide.png" style="width:30px;height:auto;" title="RENDI VISIBILE MATERIA" ng-click="RendiVisibileMateria(materia.Chiave,materia.Descrizione)"></td>       
          <td>{{materia.Descrizione | uppercase}}</td>
          <td ng-bind-html="GetStringaGruppiMaterie(materia)"></td>
        </tr>    
      </table>
      <md-table-pagination md-limit="GridOptions.query.limit" 
                           md-limit-options="GridOptions.limitOptions" 
                           md-page="GridOptions.query.page" 
                           md-total="{{ListaMaterie.length}}" 
                           md-page-select="GridOptions.pageSelect" 
                           md-boundary-links="GridOptions.boundaryLinks" 
                           md-on-paginate="logPagination"></md-table-pagination>
    </div>

    <div ng-if="ConfigurazioneSelezionata==6">
      <div>
        <h2 style="float:left;">PROVINCE GESTITE</h2>
        <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="NuovaProvincia()">NUOVA PROVINCIA GESTITA</md-button>
      </div>
      <table style="width:100%;text-align:center;" md-row-select="GridOptions_4.rowSelection" multiple="{{GridOptions_4.multiSelect}}">  
        <tr>
          <th></th>
          <th></th> 
          <th style="font-weight:bold;">NOME</th>
        </tr>  
        <tr ng-repeat="provincia in ListaProvince | limitTo : GridOptions_4.query.limit : (GridOptions_4.query.page - 1) * GridOptions_4.query.limit" id={{provincia.Chiave}}>
          <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA PROVINCIA GESTITA" ng-click="EliminaProvincia(provincia)"></td> 
          <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA PROVINCIA GESTITA" ng-click="ModificaProvincia(provincia)"></td>        
          <td>{{provincia.Descrizione}}</td>
        </tr>    
      </table>
      <md-table-pagination md-limit="GridOptions_4.query.limit" 
                           md-limit-options="GridOptions_4.limitOptions" 
                           md-page="GridOptions_4.query.page" 
                           md-total="{{ListaProvince.length}}" 
                           md-page-select="GridOptions_4.pageSelect" 
                           md-boundary-links="GridOptions_4.boundaryLinks" 
                           md-on-paginate="logPagination"></md-table-pagination>
    </div>
    
    <div ng-if="ConfigurazioneSelezionata==7">
      <div>
        <h2 style="float:left;">TIPOLOGIE ISTITUTI GESTITE</h2>
        <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="NuovaTipologia()">NUOVA TIPOLOGIA</md-button>
      </div>
      <table style="width:100%;text-align:center;" md-row-select="GridOptions_2.rowSelection" multiple="{{GridOptions_2.multiSelect}}">  
        <tr>
          <th></th>
          <th></th> 
          <th style="font-weight:bold;">TIPOLOGIA</th>
        </tr>  
        <tr ng-repeat="tipologia in ListaTipologie | limitTo : GridOptions_2.query.limit : (GridOptions_2.query.page - 1) * GridOptions_2.query.limit" id={{tipologia.Chiave}}>
          <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA TIPOLOGIA" ng-click="EliminaTipologia(tipologia)"></td> 
          <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA TIPOLOGIA" ng-click="ModificaTipologia(tipologia)"></td>        
          <td>{{tipologia.Descrizione | uppercase}}</td>
        </tr>    
      </table>
      <md-table-pagination md-limit="GridOptions_2.query.limit" 
                           md-limit-options="GridOptions_2.limitOptions" 
                           md-page="GridOptions_2.query.page" 
                           md-total="{{ListaTipologie.length}}" 
                           md-page-select="GridOptions_2.pageSelect" 
                           md-boundary-links="GridOptions_2.boundaryLinks" 
                           md-on-paginate="logPagination"></md-table-pagination>
    </div>
    
    <div ng-if="ConfigurazioneSelezionata==8">
      <div>
        <h2 style="float:left;">TIPOLOGIE ISTITUTI ESCLUSE</h2>
        <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="NuovaTipologiaEsclusa()">NUOVA TIPOLOGIA ESCLUSA</md-button>
      </div>
      <table style="width:100%;text-align:center;" md-row-select="GridOptions_3.rowSelection" multiple="{{GridOptions_3.multiSelect}}">  
        <tr>
          <th></th>
          <th></th> 
          <th style="font-weight:bold;">TIPOLOGIA</th>
        </tr>  
        <tr ng-repeat="tipologiaEsclusa in ListaTipologieEscluse | limitTo : GridOptions_3.query.limit : (GridOptions_3.query.page - 1) * GridOptions_3.query.limit" id={{tipologiaEsclusa.Chiave}}>
          <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA TIPOLOGIA ESCLUSA" ng-click="EliminaTipologiaEsclusa(tipologiaEsclusa)"></td> 
          <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA TIPOLOGIA ESCLUSA" ng-click="ModificaTipologiaEsclusa(tipologiaEsclusa)"></td>        
          <td>{{tipologiaEsclusa.Descrizione | uppercase}}</td>
        </tr>    
      </table>
      <md-table-pagination md-limit="GridOptions_3.query.limit" 
                           md-limit-options="GridOptions_3.limitOptions" 
                           md-page="GridOptions_3.query.page" 
                           md-total="{{ListaTipologieEscluse.length}}" 
                           md-page-select="GridOptions_3.pageSelect" 
                           md-boundary-links="GridOptions_3.boundaryLinks" 
                           md-on-paginate="logPagination"></md-table-pagination>
    </div>
</div>