<div ng-controller="csvBookController" ng-cloak md-theme="{{ActualTheme}}" style="height:75%">
  <div>
  <md-content class="page-container">
    <md-card class="page" style="width:50%;">
      <h1 style="text-align:center;">AGGIORNAMENTO TITOLI / ADOZIONI</h1>
      <label style="text-align:center;" for="progressBar">AGGIORNAMENTO DATABASE TITOLI / ADOZIONI:</label>
      <progress style="width:100%;" id="progressBar" value={{Contatore}} min="0" max={{FileLength}}></progress>
      <br>
      <md-button class="md-raised md-accent" style="width:100%;font-weight:bold;" ng-click="CaricaDocumento()">Carica file CSV...</md-button>
      <input id="fileLoadCVSDocument" accept=".csv" name="file" type="file" class="ng-hide" onchange="angular.element(this).scope().CVSLoaded(this)">
    </md-card>
  </md-content>
  </div>
</div>