<div ng-controller="csvCatalogDeAgostiniController" ng-cloak md-theme="{{ActualTheme}}" style="height:75%">
  <div>
  <md-content class="page-container">
    <md-card class="page" style="width:50%;">
      <h1 style="text-align:center;">AGGIORNAMENTO TITOLI DA CATALOGO DE AGOSTINI</h1>
      <p style="font-style:italic;">FORMATO:</p>
      <p style="font-style:italic;font-weight:bold;margin:1px;">CODICE;TITOLO;MATERIA;EDITORE;AUTORE;VOLUME;PREZZO;</p>
      <p style="font-style:italic;margin:1px;">978123456789;Epica greca;Letteratura;Mondadori;Fauci Melissa;1;33,60;</p>
      <br> 
      <label style="text-align:center;" for="progressBar">PROGRESSO UPLOAD:</label>
      <progress style="width:100%;" id="progressBar" value={{Contatore}} min="0" max={{FileLength}}></progress>
      <br>
      <md-button class="md-raised md-accent" style="width:100%;font-weight:bold;" ng-click="CaricaDocumento()">Carica file CSV...</md-button>
      <input id="fileLoadCSVDocument" accept=".csv" name="file" type="file" class="ng-hide" onchange="angular.element(this).scope().CSVLoaded(this)">
    </md-card>
  </md-content>
  </div>
</div>