<div ng-controller="deliveryListPageController" ng-cloak md-theme="{{ActualTheme}}" style="height:75%">
  <h2>SPEDIZIONI</h2>

  <div layout="row" style="margin:0px;">
    <md-input-container style="float:left;margin-left:20px;margin-bottom: 0px;">
      <label>DAL</label><input ng-model="DataRicercaDal" type="date" name="DataRicercaDal">
    </md-input-container>
    <md-input-container style="float:left;margin-left:20px;margin-bottom: 0px;">  
      <label>AL</label><input ng-model="DataRicercaAl" type="date" name="DataRicercaAl">
    </md-input-container>
    <md-input-container><label style="width:100%;margin-left:20px;float:left;margin-bottom: 0px;">PROVINCIA</label>
      <md-select ng-model="ProvinciaFiltro" ng-change="GridOptions.query.page = 1" placeholder="Provincia di spedizione" class="mdb-select" style="width:100%;margin-left:20px;float:left;" type="text" name="ProvinciaFiltro">
        <md-optgroup>
          <md-option ng-value="-1">QUALSIASI</md-option>  
          <md-option ng-repeat="provincia in ListaProvinceAll" ng-value="provincia.Chiave">{{provincia.Nome}}</md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>
    <md-input-container ng-if="IsAdministrator()"><label style="width:100%;margin-left:20px;float:left;margin-bottom: 0px;">PROMOTORE</label>
      <md-select ng-model="$parent.PromotoreFiltro" ng-change="GridOptions.query.page = 1" placeholder="Promotore" class="mdb-select" style="width:100%;margin-left:20px;float:left;" type="text" name="PromotoreFiltro">
        <md-optgroup>
          <md-option ng-value="-1">QUALSIASI</md-option>  
          <md-option ng-repeat="promotore in ListaPromotori" ng-value="promotore.Chiave">{{promotore.Nome}}</md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>
    
    <input type="checkbox" ng-change="GridOptions.query.page = 1" ng-model="DaSpedireFiltro" style="margin-left:60px;">
    <label style="margin-left:5px;margin-right:2px;margin-top:30px;font-weight: bold;color:rgb(255, 153, 0)">DA SPEDIRE</label> 
    <input type="checkbox" ng-change="GridOptions.query.page = 1" ng-model="PrenotataFiltro" style="margin-left:20px;">
    <label style="margin-left:5px;margin-right:2px;margin-top:30px;font-weight: bold;color:rgb(255, 0, 0)">PRENOTATA</label> 
    <input type="checkbox" ng-change="GridOptions.query.page = 1"ng-model="ConsegnataFiltro" style="margin-left:20px;">
    <label style="margin-left:5px;margin-right:2px;margin-top:30px;font-weight: bold;color:rgb(92, 190, 0)">CONSEGNATA</label> 

    <md-button class="md-raised md-accent" style="float:right;font-weight:bold;height:20px;margin-top:20px; margin-left:80px; width:20%" ng-click="RefreshListaSpedizioniAll()">CERCA</md-button>

  </div>   
  <br>
  <div layout="row" layout-align="start start" style="margin-top:0px;padding-top:0px;">
    <md-input-container class="containerSelect" style="margin-left:5px;width:30%;padding-top:0px;">
       <label>ISTITUTO</label>
       <md-autocomplete
                   md-input-name="Istituto"
                   md-autofocus="true"
                   md-no-cache="true"
                   md-selected-item-change = "selectedItemChangeIstituto(item)"
                   md-search-text="searchTextIstituto"
                   md-items="item in queryIstituto(searchTextIstituto)"
                   md-item-text="item.Istituto"
                   md-require-match="true"
                   md-clear-button="true">
       <md-item-template>
         <span md-highlight-text="searchText">CODICE : {{item.CodiceIstituto}} - {{item.Istituto}}</span>
       </md-item-template>
       <md-not-found>
         NESSUNA CORRISPONDENZA
       </md-not-found>
    </md-input-container>
    <md-input-container class="containerSelect" style="margin-left:5px;width:30%;padding-top:0px;">
       <label>DOCENTE</label>
       <md-autocomplete
                   md-input-name="Docente"
                   md-autofocus="true"
                   md-no-cache="true"
                   md-selected-item-change = "selectedItemChangeDocente(item)"
                   md-search-text="searchTextDocente"
                   md-items="item in queryDocente(searchTextDocente)"
                   md-item-text="item.Nome"
                   md-require-match="true"
                   md-clear-button="true">
       <md-item-template>
         <span md-highlight-text="searchText">{{item.Nome}}</span>
       </md-item-template>
       <md-not-found>
         NESSUNA CORRISPONDENZA
       </md-not-found>
    </md-input-container>
  </div>
  <div layout="row" layout-align="start start" style="margin-top:0px;padding-top:0px;">
    <md-input-container class="containerSelect" style="margin-left:5px;width:30%;margin-right:10px;">
      <label>TITOLO</label>
      <md-autocomplete
                  md-input-name="Titolo"
                  md-autofocus="true"
                  md-no-cache="true"
                  md-selected-item-change = "selectedItemChangeTitolo(item)"
                  md-search-text="searchTextTit"
                  md-items="item in queryTitolo(searchTextTit)"
                  md-item-text="item.Nome"
                  md-require-match="true"
                  md-clear-button="true">
      <md-item-template>
        <span md-highlight-text="searchText">ISBN : {{item.Codice}} - {{item.Nome}}</span>
      </md-item-template>
      <md-not-found>
        Nessuna corrispondenza
      </md-not-found>
    </md-input-container>
    <img ng-if="TitoloFiltro != -1" src="img/deleteBooked.png" style="width:30px;height:auto;margin-top: 26px;margin-right: 10px;" title="ELIMINA PRENOTATAZIONI TITOLO SELEZIONATO" ng-click="EliminaPrenotatiTitolo(TitoloFiltro)" class="ng-scope" role="button">
    <img ng-if="TitoloFiltro != -1" src="img/sendBooked.png" style="width:30px;height:auto;margin-top: 26px;" title="INVIA PRENOTAZIONI TITOLO SELEZIONATO" ng-click="" class="ng-scope" role="button">
  </div>
  <br>
  <div layout="column" ng-if="!CaricamentoInCorso && PrimaRicercaEffettuata">
    <div layout="row" layout-align="end end">
      <md-button class="md-raised md-accent" ng-if="IsAdministrator()" style="float:right;font-weight:bold;" ng-click="SelezioneGruppiXls($event,'C')">XLS CUMULATIVO CONSEGNATI</md-button>
      <md-button class="md-raised md-accent" ng-if="IsAdministrator()" style="float:right;font-weight:bold;" ng-click="ApriStatisticaPromotori($event)">XLS STATISTICA PROMOTORI</md-button>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="ApriCumulativoPrenotatiOrd($event)">ORD DEAGOSTINI / XLS MONDADORI CUMULATIVI PRENOTATI </md-button>
    </div>
    <div layout="row" layout-align="end end">
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="SelezioneGruppiXls($event,'P')">XLS CUMULATIVO PRENOTATI</md-button>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="CreaXlsSpedizioni()">XLS SPEDIZIONI GENERICO</md-button>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="NuovaSpedizioneCasaEditrice()">NUOVA SPEDIZIONE CASA EDITRICE</md-button>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="GestioneAvanzataSpedizioni()">GESTIONE SPEDIZIONI DISPONIBILI</md-button>
    </div>
  </div>
  <div ng-if="GetNumberRows() != 0 && !CaricamentoInCorso">
    <table style="width:100%;text-align:center;" md-row-select="GridOptions.rowSelection" multiple="{{GridOptions.multiSelect}}">  
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>DA SPEDIRE</th>
      <th>DATA</th>
      <th>PRESSO</th>
      <th>ISBN / TITOLO / STATO</th>
    </tr>
    <tr ng-repeat="Spedizione in ListaSpedizioni | SpedizioneByFiltro : ProvinciaFiltro : PrenotataFiltro : DaSpedireFiltro : ConsegnataFiltro : $parent.PromotoreFiltro : IstitutoFiltro : DocenteFiltro : TitoloFiltro | limitTo : GridOptions.query.limit : (GridOptions.query.page - 1) * GridOptions.query.limit" id={{Spedizione.Chiave}}>
      <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA SPEDIZIONE" ng-click="EliminaSpedizione(Spedizione)"></td> 
      <td><img ng-if="GetIfPrenotati(Spedizione)" src="img/deleteBooked.png" style="width:30px;height:auto;" title="ELIMINA PRENOTATI" ng-click="EliminaPrenotatiSpedizione(Spedizione)"></td> 
      <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA SPEDIZIONE" ng-click="ModificaSpedizione(Spedizione.Chiave,Spedizione.Docente)"></td>
      <td ng-if="Spedizione.Spedibile && Spedizione.NrPrenotate > 0"><img src="img/toSend.png" style="width:30px;height:auto;" title="SPEDIRE TITOLI DISPONIBILI" ng-click="PassaADaSpedireDisponibili(Spedizione.Chiave)"></td>
      <td ng-if="!(Spedizione.Spedibile) && Spedizione.NrPrenotate > 0" title="NESSUN TITOLO TRA I PRENOTATI E' DISPONIBILE"><img src="img/notToSend.png" style="width:30px;height:auto;" class="off"></td>      
      <td ng-if="Spedizione.NrPrenotate == 0"></td>      
      <td>{{ConvertiData(Spedizione)}}</td>
      <td>{{Spedizione.Docente == -1 ? Spedizione.Presso : Spedizione.DocenteNome}}</td>
      <td style="text-align:left;" ng-bind-html="GetTitoliSpedizione(Spedizione)"></td>   
    </tr>
    </table>
    <md-table-pagination md-limit="GridOptions.query.limit" 
                       md-limit-options="GridOptions.limitOptions" 
                       md-page="GridOptions.query.page" 
                       md-total="{{ListaSpedizioni.length}}" 
                       md-page-select="GridOptions.pageSelect" 
                       md-boundary-links="GridOptions.boundaryLinks" 
                       md-on-paginate="logPagination"></md-table-pagination>
  </div>
  <br>
  <br>
  <div>
    <p ng-if="GetNumberRows() == 0 && !CaricamentoInCorso && PrimaRicercaEffettuata" style="font-weight:bold;font-style:italic;text-align:center;">NESSUNA SPEDIZIONE PRESENTE</p>
    <p ng-if="!PrimaRicercaEffettuata" style="font-weight:bold;font-style:italic;text-align:center;">RICERCA NON ANCORA EFFETTUATA</p>
  </div>
  <div layout="column" layout-align="center center" ng-show="CaricamentoInCorso">
    <label style="background-color:orange;display:block;font-size:30px;text-align:center;font-weight:bold;color:white;padding:50px;margin:50px;width:100%;">RICERCA SPEDIZIONI IN CORSO...</label>
  </div>
</div>
