<div ng-controller="deliveryModDetailPageController" ng-cloak md-theme="{{ActualTheme}}" style="height:75%">

  <form name="SpedizioneEditForm" ng-submit="ConfermaSpedizione()"> 

    <h2 style="font-weight:bold;" ng-if="!SpedizioneMultipla">SPEDIZIONE {{SpedizioneInEditing.DOCENTE_NOME == undefined ? "" : " PER " +  SpedizioneInEditing.DOCENTE_NOME}}</h2>
    <h2 style="font-weight:bold;" ng-if="SpedizioneMultipla">SPEDIZIONE MULTIPLA</h2>
    <div layout="row" layout-align="end start">
      <md-button class="md-raised md-accent" style="font-weight:bold;" ng-disabled="SpedizioneEditForm.$invalid" type="submit">CONFERMA</md-button>
      <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="OnAnnullaSpedizione()">ANNULLA</md-button>
    </div>
    <md-tabs style="width:100%;" md-selected="selectedSpedizioneTitoli" md-border-bottom md-autoselect md-dynamic-height md-swipe-content>
      <md-tab label="Dati spedizione" ng-if="SpedizioneMultipla">
          <md-input-container style="width:33%;">
            <label>DATA</label><input ng-model="SpedizioneInEditing.DATA" type="date">
          </md-input-container>
          <br>
          
          <input type="checkbox" ng-model="SpedizioneAIstituto" ng-change="ResetCampi()" style="float:left;">SPEDISCI AL SEGUENTE INDIRIZZO
          
          <div ng-if="SpedizioneAIstituto">
            <md-input-container class="containerSelect" style="width:50%;margin-right:10px;">
               <label>Istituto</label>
               <md-autocomplete
                           md-input-name="Istituto"
                           md-autofocus="true"
                           md-no-cache="true"
                           md-selected-item="IstitutoSelezionato"
                           md-selected-item-change = "selectedItemChangeIstituto(item)"
                           md-search-text="searchTextIstituto"
                           md-items="item in queryIstituto(searchTextIstituto)"
                           md-item-text="item.Istituto"
                           md-require-match="true"
                           md-clear-button="true">
               <md-item-template>
                 <span md-highlight-text="searchText">{{item.Istituto}}</span>
               </md-item-template>
               <md-not-found>
                 Nessuna corrispondenza
               </md-not-found>
            </md-input-container>
            <br>
            <div layout="row">
              <md-input-container>
                <label>INDIRIZZO</label><input ng-model="SpedizioneInEditing.INDIRIZZO" type="text" name="Indirizzo" required>
               <div ng-messages="TitoloEditForm.Indirizzo.$error" multiple md-auto-hide="true">
                 <div ng-message="required">Inserire l'indirizzo per la spedizione</div>
               </div>
              </md-input-container>
              <md-input-container>
                <label>COMUNE</label><input ng-model="SpedizioneInEditing.COMUNE" type="text" name="Comune" required>
                <div ng-messages="TitoloEditForm.Comune.$error" multiple md-auto-hide="true">
                  <div ng-message="required">Inserire il comune per la spedizione</div>
                </div>
              </md-input-container> 
              <md-input-container>
                <label>CAP</label><input ng-model="SpedizioneInEditing.CAP" type="text" name="Cap" required>
                <div ng-messages="TitoloEditForm.Indirizzo.$error" multiple md-auto-hide="true">
                  <div ng-message="required">Inserire il cap per la spedizione</div>
                </div>
              </md-input-container> 
              <md-input-container class="containerSelect"><label>PROVINCIA</label>
                <md-select ng-model="SpedizioneInEditing.PROVINCIA" class="mdb-select" type="text" name="Provincia" required>
                <md-optgroup label="-">
                  <md-option ng-repeat="provincia in ListaProvinceAll" ng-value="provincia.Chiave">{{provincia.Nome}}</md-option>
                </md-optgroup>
                </md-select>
              </md-input-container>
            </div>
          </div>
                          
          <div layout="column" ng-if="!SpedizioneAIstituto">
            <p style="font-weight:bold;">SPEDIZIONE PER I SEGUENTI DOCENTI :</p>
            <table style="width:100%;text-align:center;" md-row-select="GridOptions2.rowSelection" multiple="{{GridOptions2.multiSelect}}">  
               <tr>
                 <th></th>                      
                 <th>DOCENTE</th>
                 <th>INDIRIZZO</th>
                 <th>COMUNE</th>
                 <th>CAP</th>
                 <th>PROVINCIA</th>
               </tr>  
               <tr ng-repeat="Docente in ListaDocentiSpedizione | limitTo : GridOptions2.query.limit : (GridOptions2.query.page - 1) * GridOptions2.query.limit">
                 <td><img src="img/delete.png" style="width:30px;height:auto;" title="RIMUOVI DOCENTE" ng-click="RimuoviDocenteTabella(Docente)"></td>
                 <td>{{Docente.NomeDocente}}</td>
                 <td>{{Docente.IndirizzoDocente}}</td> 
                 <td>{{Docente.ComuneDocente}}</td>
                 <td>{{Docente.CapDocente}}</td>
                 <td>{{Docente.ProvinciaDocenteNome}}</td>                        
               </tr>    
             </table>
             <md-table-pagination md-limit="GridOptions2.query.limit" 
                                  md-limit-options="GridOptions2.limitOptions" 
                                  md-page="GridOptions2.query.page" 
                                  md-total="{{ListaDocentiSpedizione.length}}" 
                                  md-page-select="GridOptions2.pageSelect" 
                                  md-boundary-links="GridOptions2.boundaryLinks" 
                                  md-on-paginate="logPagination"></md-table-pagination>        
          </div>
          <div layout="column" ng-if="ListaDocentiEsclusi.length != 0 && !SpedizioneAIstituto">
            <p style="font-weight:bold;">IMPOSSIBILE SPEDIRE AI SEGUENTI DOCENTI - DATI INDIRIZZO DI SPEDIZIONE MANCANTI</p>
            <ul>
              <li ng-repeat="DocenteEscluso in ListaDocentiEsclusi">{{DocenteEscluso.NomeDocente}}<img src="img/deleteCross.png" style="width:20px;height:auto;margin-left:10px;" title="RIMUOVI DOCENTE" ng-click="RimuoviDocenteEscluso(DocenteEscluso)"></li>
            </ul>            
          </div>
          <div layout="column" ng-if="SpedizioneAIstituto">
            <p style="font-weight:bold;">SPEDIZIONE PER I SEGUENTI DOCENTI ALL'INDIRIZZO SELEZIONATO:</p>
            <ul>
              <li ng-repeat="Docente in ListaDocentiSpedizione">{{Docente.NomeDocente}}<img src="img/deleteCross.png" style="width:20px;height:auto;margin-left:10px;" title="RIMUOVI DOCENTE" ng-click="RimuoviDocenteIncluso(Docente)"></li>
                            
              <li ng-repeat="DocenteEscluso in ListaDocentiEsclusi">{{DocenteEscluso.NomeDocente}}<img src="img/deleteCross.png" style="width:20px;height:auto;margin-left:10px;" title="RIMUOVI DOCENTE" ng-click="RimuoviDocenteEscluso(DocenteEscluso)"></li>
                          
            </ul>
          </div>           
      </md-tab>
      
      <md-tab label="Dati spedizione" ng-if="!SpedizioneMultipla">
          <md-input-container style="width:33%;">
            <label>DATA</label><input ng-model="SpedizioneInEditing.DATA" type="date">
          </md-input-container>           
          <div layout="column">
            <md-input-container class="containerSelect" ng-if="ListaIstitutiDoc.length != 0"><label>ISTITUTO</label>
              <md-select ng-model="IstitutoDoc" class="mdb-select" ng-change="IndirizzoByIstituto(IstitutoDoc)">
                 <md-optgroup>
                   <md-option ng-value="-1">INDIRIZZO DOCENTE: {{SpedizioneInEditing.DOCENTE_NOME}}</md-option>  
                   <md-option ng-repeat="Istituto in ListaIstitutiDoc" ng-value="Istituto.CHIAVE">{{Istituto.ISTITUTO}}</md-option>
                 </md-optgroup>
              </md-select>
            </md-input-container> 
            <md-input-container>
              <label>C/O:</label><input ng-model="SpedizioneInEditing.PRESSO" style="width:30%;" type="text" name="Presso" required>
              <div ng-messages="TitoloEditForm.Codice.$error" multiple md-auto-hide="true">
                <div ng-message="required">Inserire il codice ISBN del titolo</div>
              </div>
            </md-input-container>            
            <br>
            <div layout="row">
              <div layout="row" ng-show="SpedizioneInEditing.STATO != 'C'">
                <md-input-container>
                  <label>INDIRIZZO</label><input ng-model="SpedizioneInEditing.INDIRIZZO" type="text" name="Indirizzo" required>
                 <div ng-messages="TitoloEditForm.Indirizzo.$error" multiple md-auto-hide="true">
                   <div ng-message="required">Inserire l'indirizzo per la spedizione</div>
                 </div>
                </md-input-container>
                <md-input-container>
                  <label>COMUNE</label><input ng-model="SpedizioneInEditing.COMUNE" type="text" name="Comune" required>
                  <div ng-messages="TitoloEditForm.Comune.$error" multiple md-auto-hide="true">
                    <div ng-message="required">Inserire il comune per la spedizione</div>
                  </div>
                </md-input-container> 
                <md-input-container>
                  <label>CAP</label><input ng-model="SpedizioneInEditing.CAP" type="text" name="Cap" required>
                  <div ng-messages="TitoloEditForm.Indirizzo.$error" multiple md-auto-hide="true">
                    <div ng-message="required">Inserire il cap per la spedizione</div>
                  </div>
                </md-input-container> 
                <md-input-container class="containerSelect"><label>PROVINCIA</label>
                  <md-select ng-model="SpedizioneInEditing.PROVINCIA" class="mdb-select" type="text" name="Provincia" required>
                  <md-optgroup label="-">
                    <md-option ng-repeat="provincia in ListaProvinceAll" ng-value="provincia.Chiave">{{provincia.Nome}}</md-option>
                  </md-optgroup>
                  </md-select>
                  <div ng-messages="TitoloEditForm.Provincia.$error" multiple md-auto-hide="true">
                    <div ng-message="required">Inserire la provincia per la spedizione</div>
                  </div>
                </md-input-container>
              </div>
            </div>       
          </div>
      </md-tab>
      <md-tab label="Titoli">
        <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="AggiungiTitoloSpedizione($event)">AGGIUNGI NUOVO TITOLO</md-button>
        <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="AggiungiTitoliMultipli($event)">AGGIUNGI TITOLI</md-button>
        <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="ImportazioneTitoliCsv()">CARICA LISTA DA FILE XLS</md-button>
        <input id="fileLoadCVSDocument" accept=".csv,.txt" name="file" type="file" class="ng-hide" onchange="angular.element(this).scope().CVSLoaded(this)">      
        <md-button ng-click="ShowInfoCsv()" style="margin:5px;" title="INFO FORMATO CSV"><img src="img/smallinfo.png" style="width:30px;height:auto;"></md-button>
        <p ng-show="ViewInfoCsv" style="font-style:italic;font-weight:bold;">ISBN;QUANTITA; (Nessuna intestazione)</p>
        
        <table style="width:100%;text-align:center;" md-row-select="GridOptions.rowSelection" multiple="{{GridOptions.multiSelect}}">  
          <tr>
            <th></th>
            <th></th>                        
            <th>TITOLO</th>
            <th>ISBN</th>
            <th>QUANTITA</th>
            <th>STATO</th>
            <th>DISPONIBILITA</th>
            <th>DA SPEDIRE</th>
          </tr>  
          <tr ng-repeat="Titolo in ListaTitoliSpedizione track by (Titolo.CHIAVE + $index) | limitTo : GridOptions.query.limit : (GridOptions.query.page - 1) * GridOptions.query.limit" id={{Titolo.Chiave}}>
            <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA TITOLO" ng-click="EliminaTitolo(Titolo)"></td> 
            <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA TITOLO" ng-click="ModificaTitolo(Titolo)"></td>
            <td>{{Titolo.NOME_TITOLO | uppercase}}<img ng-if="Titolo.GESTITO_PAST" src="img/alreadyHandledBook.png" style="width:20px;height:auto;padding-left:10px;" title="TITOLO GIA' GESTITO DA DOCENTE"></td>
            <td>{{Titolo.ISBN_TITOLO}}</td> 
            <td>{{Titolo.QUANTITA}}</td>
            <td ng-if="Titolo.STATO == 'C'">CONSEGNATO</td>
            <td ng-if="Titolo.STATO == 'S'">DA SPEDIRE</td>
            <td ng-if="Titolo.STATO == 'P'">PRENOTATO</td>
            
            <td ng-if="Titolo.QUANTITA <= Titolo.QUANTITA_DISP && Titolo.STATO == 'P'">DISPONIBILE</td> 
            <td ng-if="Titolo.QUANTITA_DISP < Titolo.QUANTITA && Titolo.STATO == 'P'">NON DISPONIBILE</td>
            <td ng-if="Titolo.STATO != 'P'"></td>
            
            <td ng-if="Titolo.QUANTITA <= Titolo.QUANTITA_DISP && Titolo.STATO == 'P'"><img src="img/toSend.png" style="width:20px;height:auto;" ng-click="PassaADaSpedire(Titolo)"></td>
            <td ng-if="Titolo.QUANTITA_DISP < Titolo.QUANTITA && Titolo.STATO == 'P'" title="TITOLO NON DISPONIBILE IN MAGAZZINO"><img src="img/notToSend.png" style="width:20px;height:auto;" class="off"></td>     
            <td ng-if="Titolo.STATO != 'P'"></td>                       
          </tr>    
        </table>
        <md-table-pagination md-limit="GridOptions.query.limit" 
                             md-limit-options="GridOptions.limitOptions" 
                             md-page="GridOptions.query.page" 
                             md-total="{{ListaTitoliSpedizione.length}}" 
                             md-page-select="GridOptions.pageSelect" 
                             md-boundary-links="GridOptions.boundaryLinks" 
                             md-on-paginate="logPagination"></md-table-pagination>        
      </md-tab>
    </md-tabs>
  </form>
</div>