<md-dialog>
  <form ng-cloak name="PopupCumulativoPrenotatiOrdForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 style="font-weight:bold;color:white;"> {{CheckEditore == 'D' ? 'ORD DEAGOSTINI' : 'XLS MONDADORI'}} CUMULATIVO PRENOTATI</h2>
      </div>
    </md-toolbar>

    <md-dialog-content >
      <div class="md-dialog-content">
        <div layout="row">        
          <md-input-container style="float:left;">
            <label>DAL</label><input ng-model="DataRicercaDalPrnt" type="date" name="DataRicercaDalPrnt">
          </md-input-container>
          <md-input-container style="float:left;margin-left:20px;">  
            <label>AL</label><input ng-model="DataRicercaAlPrnt" type="date" name="DataRicercaAlPrnt">
          </md-input-container>
        </div> 
        <div>
          <md-radio-group ng-model="CheckEditore" layout="row" style="padding:5px;">
            <md-radio-button value="D">DEAGOSTINI</md-radio-button>
            <md-radio-button value="M">MONDADORI</md-radio-button>
          </md-radio-group>
        </div>  
       </div>
       <div style="text-align:center;">
        <md-button ng-if="CheckEditore == 'D'" ng-click="CreaFilePrenotati()" title="GENERA ORD PRENOTATI"><img src="img/printOrd.png" style="width:100px;height:auto;"></md-button>
        <md-button ng-if="CheckEditore == 'M'" ng-click="CreaFilePrenotati()" title="GENERA XLS PRENOTATI"><img src="img/printXLS.png" style="width:100px;height:auto;"></md-button>
      </div> 
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="AnnullaPopupOrdPrenotati()">
       CHIUDI
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>