<div ng-controller="flyingStoragePageController" ng-cloak md-theme="{{ActualTheme}}" style="height:75%">
  <div ng-show="!EditingOn && !ViewTotaleMagazzino">
     <div style="margin-top:10px;">
       <h2 style="float:left;margin-right:50px;margin-top:10px;">MAGAZZINO VOLANTE</h2>
     
       <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="NuovoMovimento()">INSERISCI NUOVO MOVIMENTO</md-button> 
       <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="ApriVolante()">VISUALIZZA MAGAZZINO</md-button>

       <input type="checkbox" ng-model="ShowOnlyCurrentYear" ng-change="RefreshListaMovimenti()" style="float:right;margin-top:15px;width:2%;">
       <label style="margin-top:15px;float:right;">VISUALIZZA SOLO ANNO IN CORSO</label> 
     </div>    
     <table style="width:100%;text-align:center;" md-row-select="GridOptions.rowSelection" multiple="{{GridOptions.multiSelect}}" ng-if="ListaVolante.length > 0">  
       <tr>
         <th></th>
         <th></th> 
         <th>DATA</th>  
         <th>PROMOTORE</th>  
         <th>QUANTITA / ISBN / TITOLO</th>      
       </tr>  
       <tr ng-repeat="Movimento in ListaVolante | limitTo : GridOptions.query.limit : (GridOptions.query.page - 1) * GridOptions.query.limit" id={{Movimento.CHIAVE}}> 
         <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA MOVIMENTO" ng-click="EliminaMovimento(Movimento)"></td> 
         <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA MOVIMENTO" ng-click="ModificaMovimento(Movimento)"></td>        
         <td>{{ConvertiData(Movimento)}}</td>  
         <td>{{Movimento.NOME_PROMOTORE | uppercase}}</td>   
         <td style="text-align:left;" ng-bind-html="GetTitoliMovimento(Movimento)"></td>
       </tr>    
     </table>
     <md-table-pagination md-limit="GridOptions.query.limit" 
                          md-limit-options="GridOptions.limitOptions" 
                          md-page="GridOptions.query.page" 
                          md-total="{{ListaVolante.length}}" 
                          md-page-select="GridOptions.pageSelect" 
                          md-boundary-links="GridOptions.boundaryLinks" 
                          md-on-paginate="logPagination" 
                          ng-if="ListaVolante.length > 0"></md-table-pagination>
     <br>
     <br>
     <br>
     <div>
       <p ng-if="ListaVolante.length == 0" style="text-align:center;font-weight:bold;font-style:italic;">NESSUN CARICO ESEGUITO</p>
     </div>
  </div>
   
  <div ng-show="EditingOn && !ViewTotaleMagazzino"> 
    <h2>CARICO VOLANTE</h2>
    <md-input-container>
      <label>DATA CARICO</label><input ng-model="MovimentoInEditing.DATA" type="date" name="DataCarico">
    </md-input-container>
    <div layout="row" style="padding-bottom:0px;">
     <md-input-container class="containerSelect" style="width:33%;height:20px;"><label>CODICE ISBN DEL TITOLO</label>
       <input ng-model="CodiceBippatoVisible" ng-keyup="AggiungiInserimento($event)">
     </md-input-container>
     <img title="SVUOTA CAMPO" src="img/deleteCross.png" style="height:30px;margin-top:20px;margin-left:10px;" ng-click="ResetIsbnInput()">
    </div>
  
     <div>
      <div layout="row" style="width:100%;" layout-align="end start">
        <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="ConfermaMovimento()" ng-disabled="ListaCarico.length == 0">CONFERMA</md-button>
        <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="OnAnnullaMovimento()">ANNULLA</md-button>
      </div>
       <table style="width:100%;text-align:center;" md-row-select="GridOptions.rowSelection" multiple="{{GridOptions.multiSelect}}">  
         <tr>
           <th></th>
           <th>ISBN</th>
           <th>TITOLO</th>
           <th>QUANTITA</th>
         </tr>  
         <tr ng-repeat="Titolo in ListaCarico | limitTo : GridOptions_2.query.limit : (GridOptions_2.query.page - 1) * GridOptions_2.query.limit">
           <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA INSERIMENTO" ng-click="EliminaTitolo(Titolo)"></td> 
           <td>{{Titolo.Codice}}</td>
           <td>{{Titolo.Nome}}</td>
           <td><input type=number ng-model="Titolo.Quantita" ng-change="CheckQuantita(Titolo)"></td>
          </tr>    
       </table>
       <md-table-pagination md-limit="GridOptions_2.query.limit" 
                            md-limit-options="GridOptions_2.limitOptions" 
                            md-page="GridOptions_2.query.page" 
                            md-total="{{ListaCarico.length}}" 
                            md-page-select="GridOptions_2.pageSelect" 
                            md-boundary-links="GridOptions_2.boundaryLinks" 
                            md-on-paginate="logPagination"></md-table-pagination>
       </div>
  </div>

    <div ng-show="!EditingOn && ViewTotaleMagazzino">
     <div>
       <h2 style="float:left;margin-right:50px;">LISTA MAGAZZINO VOLANTE <span ng-if="ListaTotaleVolante.length > 0"> (TOTALE : {{ TotaleLibri }} )</span></h2>
       <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="ChiudiVolante()">CHIUDI</md-button>
     </div> 
     <br>
     
     <table style="width:100%;text-align:center;" md-row-select="GridOptions_3.rowSelection" multiple="{{GridOptions_3.multiSelect}}" ng-if="ListaTotaleVolante.length > 0">  
       <tr>
         <th>QUANTITA</th>
         <th>ISBN</th>
         <th>TITOLO</th>      
       </tr>  
       <tr ng-repeat="Titolo in ListaTotaleVolante | limitTo : GridOptions_3.query.limit : (GridOptions_3.query.page - 1) * GridOptions_3.query.limit" id={{Titolo.Isbn}}>  
         <td>{{Titolo.Quantita}}</td>  
         <td>{{Titolo.Isbn}}</td>  
         <td>{{Titolo.Titolo}}</td>     
       </tr>    
     </table>
     <md-table-pagination md-limit="GridOptions_3.query.limit" 
                          md-limit-options="GridOptions_3.limitOptions" 
                          md-page="GridOptions_3.query.page" 
                          md-total="{{ListaTotaleVolante.length}}" 
                          md-page-select="GridOptions_3.pageSelect" 
                          md-boundary-links="GridOptions_3.boundaryLinks" 
                          md-on-paginate="logPagination" 
                          ng-if="ListaTotaleVolante.length > 0"></md-table-pagination>
     <br>
     <br>
     <br>
     <div>
       <p ng-if="ListaTotaleVolante.length == 0" style="text-align:center;font-weight:bold;font-style:italic;">NESSUN TITOLO PRESENTE</p>
     </div>
  </div>
</div>
