<md-dialog>
 <form ng-cloak name="PopupForm">
   <md-toolbar>
     <div class="md-toolbar-tools">
       <h2 style="font-weight:bold;color:white;">UNIONE MATERIE</h2>
     </div>
   </md-toolbar>

   <md-dialog-content>
     <div class="md-dialog-content">
       <p style="font-weight:bold;">MATERIA DA NASCONDERE : {{MateriaOldDescrizione}}</p>
       <p style="font-weight:italic;color:red;">ATTENZIONE: La materia selezionata sarà sostituita ovunque con la nuova materia<p>
       <md-input-container class="containerSelect" style="width:100%;">
         <label>MATERIA</label>
         <md-autocomplete 
                     md-input-name="Materia"
                     md-no-cache="true"
                     md-selected-item-change="selectedItemChangeMateria(item)"
                     md-search-text="searchTextMat"
                     md-items="item in queryMateria(searchTextMat)"
                     md-item-text="item.Descrizione"
                     md-require-match="true"
                     md-clear-button="true">
         <md-item-template>
           <span md-highlight-text="searchText">{{item.Descrizione}}</span>
         </md-item-template>
         <md-not-found>
           Nessuna corrispondenza
         </md-not-found>
       </md-input-container>        
     </div>
   </md-dialog-content>

   <md-dialog-actions layout="row">
     <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="ConfermaPopup()">
      CONFERMA
     </md-button>
     <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="AnnullaPopup()">
      ANNULLA
     </md-button>
   </md-dialog-actions>
 </form>
</md-dialog>
