<div ng-controller="loginController" layout-align="center center" layout="column" md-theme="{{ActualTheme}}">
  <!--<img src="img/loginPaper.png" style="position:absolute;width:430px;height:auto;top:5px;">-->
  <img src="img/loginBackground.png" style="position:absolute;width:800px;height:auto;top:5px;">  
  <form name="LoginForm" layout="column" ng-submit="Invia()" style="text-align:center;margin-left:300px;margin-top:60px;">
    <div style="position:relative;">  
      <!--<h1 style="font-weight:bold;font-style:italic;color:orange;">SIRIO</h1>-->
      <h1 style="font-weight:bold;font-style:italic;color:orange;">SIRIO</h1> 
      <label class="LabelError" style="background-color:red;font-weight:bold;color:white;padding:2px;" ng-show="HTTPError != ''" ng-bind="HTTPError"></label>
      <label class="LabelError" style="background-color:red;font-weight:bold;color:white;padding:2px;" ng-show="SubHTTPError != '' && HTTPError != ''" ng-bind="SubHTTPError"></label>
    </div>
    <md-input-container>
      <label>Account</label><input ng-model="Account" name="Account" type="text" required>
      <div ng-messages="LoginForm.Account.$error" multiple md-auto-hide="true">
         <div ng-message="required">Inserire nome utente</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Password</label><input ng-model="Password" type="password" name="Password" required>
      <div ng-messages="LoginForm.Password.$error" multiple md-auto-hide="true">
         <div ng-message="required">Inserire la password</div>
      </div>
    </md-input-container>
    <br>
    <br>
    <br>
    <md-button class="md-raised md-accent" style="font-weight:bold;margin-bottom:10px;" type="submit">Login</md-button>
  </form>
</div>