<div ng-controller="mailChimpUploadController" ng-cloak md-theme="{{ActualTheme}}" style="height:75%">
  <div>
  <md-content class="page-container">
    <md-card class="page" style="width:50%;">
      <h1 style="text-align:center;">AGGIORNAMENTO MAIL DOCENTI</h1>
      <p style="text-align:center;" ng-if="UltimaDataImportazione != ''">Data ultima importazione mail : {{UltimaDataImportazione}}</p>
      <label style="text-align:center;" for="progressBar">PROGRESSO UPLOAD:</label>
      <progress style="width:100%;" id="progressBar" value={{Contatore}} min="0" max={{FileLength}}></progress>
      <br>
      <md-button class="md-raised md-accent" style="width:100%;font-weight:bold;" ng-click="CaricaDocumento()">Carica mail...</md-button>
      <input id="fileLoadCSVDocument" accept=".csv" name="file" type="file" class="ng-hide" onchange="angular.element(this).scope().CSVLoaded(this)">
    </md-card>
  </md-content>
  </div>
</div>