<div ng-controller="mailChimpUploadController" ng-cloak md-theme="{{ActualTheme}}" style="height:75%">
  <div>
  <md-content class="page-container">
    <md-card class="page" style="width:50%;">
      <h1 style="text-align:center;">AGGIORNAMENTO MAIL DOCENTI</h1>
      <label style="text-align:center;" for="progressBar">PROGRESSO UPLOAD:</label>
      <progress style="width:100%;" id="progressBar" value={{Contatore}} min="0" max={{FileLength}}></progress>
      <br>
      <md-button class="md-raised md-accent" style="width:100%;font-weight:bold;" ng-click="CaricaMailChimp()">Carica mail...</md-button>
    </md-card>
  </md-content>
  </div>
</div>