<div ng-controller="mailPageController">
  <form name="MailEditForm" style="width:100%" ng-submit="InviaMail()">
    <h2>INVIO MAIL</h2>
    <progress ng-show="InvioInCorso && MailMultipla" style="width:100%;" id="progressBar" value={{ContatoreInvio}} min="0" max={{ListaDocentiMailMultipla.length}}></progress>
    <div layout="row" style="width:100%;" layout-align="end start">
      <md-button class="md-raised md-accent" style="font-weight:bold;" type="submit">INVIA MAIL</md-button>
      <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="OnAnnullaMailClicked()">ANNULLA</md-button>
    </div>
    <div layout="column">
      <p style="font-weight: bold;" ng-if="MailMultipla">N° DESTINATARI : {{NumeroDestinatari}}</p>
      <md-input-container ng-if="!MailMultipla">
        <p style="font-weight: bold;">DESTINATARIO:</p><input type="email" ng-model="MailInEditing.Destinatario" flex=30>
      </md-input-container>
      <md-input-container>
        <p style="font-weight: bold;">OGGETTO:</p><input ng-model="MailInEditing.Oggetto" flex=40>
      </md-input-container>
      <md-input-container>
        <p style="font-weight: bold;">TESTO:</p><textarea ng-model="MailInEditing.Testo" rows="10" cols="10" flex=100></textarea>
      </md-input-container>
    </div>
  </form>
</div>