<div ng-controller="orderEntryPageController">
  <div ng-if="!EditingOn && !StampaOn">
    <div>
      <h2>CARICHI</h2>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="NuovoOrdine()">NUOVO CARICO</md-button>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="NuovoOrdineCsv()">CARICO DA CSV</md-button>
      <input id="fileLoadCVSDocument" accept=".csv" name="file" type="file" class="ng-hide" onchange="angular.element(this).scope().CVSLoaded(this)">      
      
      <md-input-container style="float:left;margin-left:20px;">
        <label>DAL</label><input ng-model="Data.DataRicercaDal" type="date" name="DataRicercaDal" ng-change="RefreshListaOrdini()">
      </md-input-container>
      <md-input-container style="float:left;margin-left:20px;">  
        <label>AL</label><input ng-model="Data.DataRicercaAl" type="date" name="DataRicercaAl" ng-change="RefreshListaOrdini()">
      </md-input-container>
      <md-input-container class="containerSelect" style="width:40%;margin-right:10px;">
        <label>Titolo</label>
        <md-autocomplete
                    md-input-name="Titolo"
                    md-autofocus="true"
                    md-no-cache="true"
                    md-selected-item="TitoloVisualizzatoMain"
                    md-selected-item-change = "selectedItemChangeTitoloMain(item)"
                    md-search-text="searchTextTitMain"
                    md-items="item in queryTitolo(searchTextTitMain)"
                    md-item-text="item.Nome"
                    md-require-match="true"
                    md-clear-button="true">
        <md-item-template>
          <span md-highlight-text="searchText">ISBN : {{item.Codice}} - {{item.Nome}}</span>
        </md-item-template>
        <md-not-found>
          Nessuna corrispondenza
        </md-not-found>
      </md-input-container>      
    </div>
    <div ng-if="ListaOrdini.length != 0">
      <table style="width:100%;text-align:center;" md-row-select="GridOptions.rowSelection" multiple="{{GridOptions.multiSelect}}">  
        <tr>
          <th></th>
          <th></th> 
          <th>DATA</th>
          <th>ISBN</th>
          <th>TITOLO</th>
          <th>QUANTITA'</th>
          <th>UBICAZIONE</th>
        </tr>      
        <tr ng-repeat="ordine in ListaOrdini | OrdineByFiltro : TitoloFiltro | limitTo : GridOptions.query.limit : (GridOptions.query.page - 1) * GridOptions.query.limit" id={{ordine.Chiave}}>
          <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA ORDINE" ng-click="EliminaOrdine(ordine)"></td> 
          <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA ORDINE" ng-click="ModificaOrdine(ordine)"></td>        
          <td>{{ConvertiData(ordine)}}</td>
          <td>{{ordine.Codice}}</td>
          <td>{{ordine.Nome_Titolo}}</td>
          <td>{{ordine.Quantita}}</td>
          <td>{{ordine.Ubicazione}}</td>
        </tr>    
      </table>
      <md-table-pagination md-limit="GridOptions.query.limit" 
                           md-limit-options="GridOptions.limitOptions" 
                           md-page="GridOptions.query.page" 
                           md-total="{{ListaOrdini.length}}" 
                           md-page-select="GridOptions.pageSelect" 
                           md-boundary-links="GridOptions.boundaryLinks" 
                           md-on-paginate="logPagination"></md-table-pagination>
    </div>
    <div>
      <p ng-if="ListaOrdini.length == 0" style="font-weight:bold;font-style:italic;text-align:center;margin-top:100px;">NESSUN CARICO PRESENTE</p>
    </div>
  </div>
  
  <div ng-if="EditingOn && !StampaOn">
    <form name="ordineIngressoEditForm" layout="column" style="width:100%" ng-submit="ConfermaOrdine()">
      <div layout="row">
        <h2>CARICO</h2>
        <div layout="row" style="width:100%;" layout-align="end start">
          <md-button class="md-raised md-accent" style="font-weight:bold;" type="submit">CONFERMA</md-button>
          <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="OnAnnullaOrdineClicked()">ANNULLA</md-button>
        </div>
      </div>
         
      <br>
      <br>
      <div layout="column">
        <md-input-container style="width:33%;">
          <label>DATA</label><input ng-model="OrdineInEditing.Data" type="date" name="Data" required>
          <div ng-messages="ordineIngressoEditForm.Data.$error" multiple md-auto-hide="true">
            <div ng-message="required">Inserire la data del carico</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>UBICAZIONE</label><input ng-model="OrdineInEditing.Ubicazione" type="text" name="Ubicazione">
        </md-input-container>  
        <div layout="row">      
          <md-input-container flex=10>
            <label>QUANTITA'</label><input ng-model="OrdineInEditing.Quantita" type="number" min=1 name="Quantita" required>
            <div ng-messages="ordineIngressoEditForm.Nome.$error" multiple md-auto-hide="true">
              <div ng-message="required">Inserire la quantità del titolo da caricare</div>
            </div>
          </md-input-container> 
          <md-input-container flex=90>
            <label>TITOLO</label>        
            <md-autocomplete required
                        md-input-name="Titolo"
                        md-autofocus="true"
                        md-no-cache="true"
                        md-selected-item="TitoloVisualizzato"
                        md-selected-item-change = "selectedItemChangeTitolo(item)"
                        md-search-text="searchTextTit"
                        md-items="item in queryTitolo(searchTextTit)"
                        md-item-text="item.Nome"
                        md-require-match="true"
                        md-clear-button="true">
            <md-item-template>
              <span md-highlight-text="searchText">ISBN : {{item.Codice}} - {{item.Nome}}</span>
            </md-item-template>
            <div ng-messages="ordineIngressoEditForm.Titolo.$error" multiple md-auto-hide="true">
              <div ng-message="required">Inserire il titolo da caricare</div>
            </div>
          </md-input-container>
        </div>
      </div>         
    </form>        
  </div>

  <div ng-show="!EditingOn && StampaOn">
    <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="ChiudiPdfCarico()">ANNULLA</md-button> 
    <iframe style="background:white;" id="caricoPdf" title="Carico" height=100% width=100% ></iframe>
  </div>  
</div>
    