<div ng-controller="startPageController" ng-cloak md-theme="{{ActualTheme}}" style="height:75%">
  <md-content>
    <div layout="row">
        <md-card style="text-align:center;width:60%;height:700px;" ng-if="CalendarioVisibile"> 
          <md-card-title>
            <md-card-title-text style="text-align:center;">
              <span class="md-headline" style="font-weight:bold;">CALENDARIO</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content style="height:100%;">    
            <iframe ng-show="UrlCalendario != ''" ng-src={{UrlCalendario}} style="width: 100%;height:600px; border:coral 1px #777" frameborder="0" scrolling="no"></iframe> <!--width="800" height="600" -->
            <p  ng-show="UrlCalendario == ''" style="font-weight:bold;font-style:italic;">NESSUN CALENDARIO IMPOSTATO</p>
          </md-card-content>
        </md-card>


        <md-card style="text-align:center;width:60%;overflow-y:scroll;height:700px;" ng-if="!CalendarioVisibile">
          <md-card-title>
            <md-card-title-text style="text-align:center;">
              <span class="md-headline" style="font-weight:bold;">SPEDIZIONI</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content style="height:100%;">
            <table style="width:100%;text-align:center;" ng-if="UltimeVentiSpedizioni.length != 0">
              <tr>
                <th></th>
                <th></th>
                <th>DA SPEDIRE</th>
                <th>DATA</th>
                <th>PRESSO</th>
                <th>ISBN / TITOLO / STATO</th>
              </tr>
              <tr ng-repeat="Spedizione in UltimeVentiSpedizioni" id="Spedizione.Chiave">
                <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA SPEDIZIONE" ng-click="EliminaSpedizione(Spedizione)"></td> 
                <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA SPEDIZIONE" ng-click="ModificaSpedizione(Spedizione.Chiave,Spedizione.Docente)"></td>        
                <td ng-if="Spedizione.Spedibile && Spedizione.NrPrenotate > 0"><img src="img/toSend.png" style="width:30px;height:auto;" title="SPEDIRE TITOLI DISPONIBILI" ng-click="PassaADaSpedireDisponibili(Spedizione.Chiave)" ></td>
                <td ng-if="!(Spedizione.Spedibile) && Spedizione.NrPrenotate > 0" title="NESSUN TITOLO TRA I PRENOTATI E' DISPONIBILE"><img src="img/notToSend.png" style="width:30px;height:auto;" class="off" ></td>
                <td ng-if="Spedizione.NrPrenotate == 0"></td>
                <td>{{Spedizione.Data}}</td>  
                <td>{{Spedizione.Docente == -1 ? Spedizione.Presso : Spedizione.DocenteNome}}</td>
                <td style="text-align:left;" ng-bind-html="GetTitoliSpedizione(Spedizione)"></td>
            </table>
            <p ng-if="UltimeVentiSpedizioni.length == 0" style="font-weight:bold;font-style:italic;">NESSUNA SPEDIZIONE PRESENTE</p>
          </md-card-content>
        </md-card>


        <md-card span=50 style="text-align:center;width:40%;overflow-y:scroll;height:700px;"> 
          <md-card-title>
            <md-card-title-text style="text-align:center;">
              <span class="md-headline" style="font-weight:bold;">COMUNICAZIONI</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content style="height:100%;">

            <div ng-if="ListaComunicazioni.length != 0">
              <table style="width:100%;text-align:center;" md-row-select="GridOptions.rowSelection" multiple="{{GridOptions.multiSelect}}">  
                <tr>
                  <th>DATA</th>
                  <th>TITOLO</th>           
                </tr>  
                <tr ng-repeat="comunicazione in ListaComunicazioni | limitTo : GridOptions.query.limit : (GridOptions.query.page - 1) * GridOptions.query.limit" id={{comunicazione.Chiave}}>      
                  <td ng-click="ApriComunicazione(comunicazione)">{{ConvertiData(comunicazione.Data)}}</td> 
                  <td ng-click="ApriComunicazione(comunicazione)">{{comunicazione.Titolo}}</td> 
                </tr>    
              </table>
              <md-table-pagination md-limit="GridOptions.query.limit" 
                                   md-limit-options="GridOptions.limitOptions" 
                                   md-page="GridOptions.query.page" 
                                   md-total="{{ListaComunicazioni.length}}" 
                                   md-page-select="GridOptions.pageSelect" 
                                   md-boundary-links="GridOptions.boundaryLinks" 
                                   md-on-paginate="logPagination"></md-table-pagination>
            </div>
            <p ng-if="ListaComunicazioni.length == 0" style="font-weight:bold;font-style:italic;text-align:center;margin-top:100px;">NESSUNA COMUNICAZIONE PRESENTE</p>

          </md-card-content>
        </md-card>
    </div>

    <div layout="row" style="text-align:center;">
      <md-card style="width:100%;">
        <md-card-title>
          <md-card-title-text style="text-align:center;">
            <span class="md-headline" style="font-weight:bold;">VARIE</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout="row">
            <div style="margin-left:5px;margin-right:5px;" flex=15>
              <md-button ng-click="ApriPaginaEtichette()"><img src="img/label.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">ETICHETTE</p>
              <br>
            </div>       
            <div style="margin-left:5px;margin-right:5px;"  flex=15>
              <md-button ng-click="ApriLogMagazzini()"><img src="img/storageLog.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">LOG MAGAZZINI & INVENTARIO</p>
              <br>
            </div>       
            <div ng-if="IsAdministrator()" style="margin-left:5px;margin-right:5px;"  flex=15>
              <md-button ng-click="ApriGestioneInventario()"><img src="img/inventory.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">INVENTARIO</p>
              <br>
            </div>
            <div style="margin-left:5px;margin-right:5px;"  flex=15>
              <md-button ng-click="ApriMagazzinoVolante()"><img src="img/flyingStorage.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">MAGAZZINO VOLANTE</p>
              <br>
            </div>
            <div style="margin-left:5px;margin-right:5px;"  flex=15>
              <md-button ng-click="NuovaSpedizioneCasaEditrice()"><img src="img/delivery.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">SPEDIZIONE GENERICA</p>
              <br>
            </div>
            <div style="margin-left:5px;margin-right:5px;"  flex=15>
              <md-button ng-click="CheckAdozioniInScadenza()"><img src="img/changeAdoption.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">RICERCA ADOZIONI</p>
              <br>
            </div>
            <div style="margin-left:5px;margin-right:5px;" flex=15>
              <md-button ng-click="CreaXlsMailchimp()"><img src="img/printMailXls.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">ESPORTAZIONE MAILCHIMP</p>
              <br>
            </div>                  
          </div>
          <div layout="row">
            <div style="margin-left:5px;margin-right:5px;" flex=15>
              <md-button ng-click="ApriPaginaStatistiche()"><img src="img/statistics.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">STATISTICHE</p>
              <br>
            </div>    
            <div ng-if="IsAdministrator()" style="margin-left:5px;margin-right:5px;" flex=15>
              <md-button ng-click="EliminaPrenotazioniObsolete()"><img src="img/EliminaPrenotazioni.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">ELIMINAZIONE VECCHIE PRENOTAZIONI</p>
              <br>
            </div>    
            <div ng-if="!IsAdministrator()" style="margin-left:5px;margin-right:5px;" flex=15>
               &nbsp;
            </div>
            <div style="margin-left:5px;margin-right:5px;" flex=15>
               &nbsp;
            </div>
            <div style="margin-left:5px;margin-right:5px;" flex=15>
               &nbsp;
            </div>
            <div style="margin-left:5px;margin-right:5px;" flex=15>
               &nbsp;
            </div>
            <div style="margin-left:5px;margin-right:5px;" flex=15>
               &nbsp;
            </div>
            <div style="margin-left:5px;margin-right:5px;" flex=15>
               &nbsp;
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>    
      
    <div layout="row" ng-if="IsAdministrator()" style="text-align:center;"> 
      <md-card style="width:100%;">
        <md-card-title>
          <md-card-title-text style="text-align:center;">
            <span class="md-headline" style="font-weight:bold;">IMPORTAZIONI E AGGIORNAMENTI</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout="row">
            <div style="margin-left:5px;margin-right:5px;" flex=16.7>        
              <md-button ng-click="ApriCsvIstitutiUpload()"><img src="img/download.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">CSV ISTITUTI</p>
              <br>
              <p style="font-style:italic;margin:0px;">Importazione istituti da sito ministero dell'istruzione</p>
            </div>
            <div style="margin-left:5px;margin-right:5px;" flex=16.7>
              <md-button ng-click="ApriCsvTitoliUpload()"><img src="img/download.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">CSV TITOLI</p>
              <br>
              <p style="font-style:italic;margin:0px;">Importazione titoli e adozioni da sito ministero dell'istruzione</p>
            </div>
            <div style="margin-left:5px;margin-right:5px;" flex=16.7>
              <md-button ng-click="ApriCsvDocentiUpload()"><img src="img/download.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">CSV DOCENTI</p>
              <br>
              <p style="font-style:italic;margin:0px;">Importazione docenti da database applicazione LYBRO</p>
            </div>
            <div style="margin-left:5px;margin-right:5px;" flex=16.7>
              <md-button ng-click="ApriCsvCataloghiDeAgostiniUpload()"><img src="img/download.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">CSV TITOLI GENERICO</p>
              <br>
              <p style="font-style:italic;margin:0px;">Importazione titoli generica</p>
            </div>
            <div style="margin-left:5px;margin-right:5px;" flex=16.7>
              <md-button ng-click="ApriMailChimpUpload()"><img src="img/download.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">EMAIL DOCENTI</p>
              <br>
              <p style="font-style:italic;margin:0px;">Aggiornamento mail docenti da MailChimp</p>
            </div>              
            <div ng-if="IsAdministrator()" style="margin-left:5px;margin-right:5px;" flex=16.7>
              <md-button ng-click="EliminaVecchieAdozioni()"><img src="img/EliminaPrenotazioni.png" style="width:60px;height:auto;"></md-button>
              <br>
              <p style="font-weight:bold;padding:0px;">ELIMINAZIONE VECCHIE ADOZIONI</p>
            </div>              
          </div>          
        </md-card-content>
      </md-card>  
    </div>
  </md-content>
  </div>
</div>