<div ng-controller="statisticsPageController">
  <h2>STATISTICHE</h2>
  <div layout="column" layout-align="center center" ng-show="RegistrazioneInCorso && !CaricamentoInCorso">
    <label style="background-color:orange;display:block;font-size:30px;text-align:center;font-weight:bold;color:white;padding:50px;margin:50px;width:100%;">SALVATAGGIO ADOZIONI IN CORSO...</label>
  </div>
  <div layout="column" layout-align="center center" ng-show="CaricamentoInCorso && !RegistrazioneInCorso">
    <label style="background-color:orange;display:block;font-size:30px;text-align:center;font-weight:bold;color:white;padding:50px;margin:50px;width:100%;">ELABORAZIONE CONFRONTO IN CORSO...</label>
  </div>
  <div layout="column" ng-show="!RegistrazioneInCorso && !CaricamentoInCorso">
    <div layout="row" ng-show="StatisticaPresente">
      <md-input-container class="containerSelect" style="width:20%;margin-right:10px;"><label>STATISTICA 1</label>
        <md-select ng-model="PrimaData" placeholder="STATISTICA 1" class="mdb-select" type="text" name="Statistica1">
        <md-optgroup>
          <md-option ng-value="-1">ATTUALE</md-option>  
          <md-option ng-repeat="data in ListaDate" ng-value="data.DataStatistica">{{data.DataFormattata}}</md-option>
        </md-optgroup>
        </md-select>
      </md-input-container>
      <md-input-container class="containerSelect" style="width:20%;margin-right:10px;"><label>STATISTICA 2</label>
        <md-select ng-model="SecondaData" placeholder="STATISTICA 2" class="mdb-select" type="text" name="Statistica2">
        <md-optgroup>
          <md-option ng-repeat="data in ListaDate" ng-value="data.DataStatistica">{{data.DataFormattata}}</md-option>
        </md-optgroup>
        </md-select>
      </md-input-container>
      <md-button class="md-raised md-accent" style="font-weight:bold;height: 20px;" ng-show="ListaDate.length > 0" ng-click="EliminaStatistica()">ELIMINA STATISTICA SELEZIONATA</md-button>
    </div>
    <div layout="row" ng-show="StatisticaPresente">
      <md-input-container class="containerSelect" style="width:30%;margin-right:10px;">
        <label>ISTITUTO</label>
        <md-autocomplete
                    md-input-name="Istituto"
                    md-autofocus="true"
                    md-no-cache="true"
                    md-selected-item-change = "selectedItemChangeIstituto(item)"
                    md-search-text="searchTextIstituto"
                    md-items="item in queryIstituto(searchTextIstituto)"
                    md-item-text="item.Nome"
                    md-require-match="true"
                    md-clear-button="true">
        <md-item-template>
          <span md-highlight-text="searchText">CODICE : {{item.Codice}} - {{item.Nome}}</span>
        </md-item-template>
        <md-not-found>
          Nessuna corrispondenza
        </md-not-found>
     </md-input-container>

      <md-input-container class="containerSelect" style="width:20%;margin-right:10px;"><label>TIPO SCUOLA</label>
        <md-select ng-model="GruppoIstitutoFiltro" placeholder="TIPO SCUOLA" class="mdb-select" type="text" name="GruppoIstitutoFiltro">
        <md-optgroup>
          <md-option ng-value="-1">QUALSIASI</md-option>
          <md-option ng-value="-2">SOLO SS2</md-option>   
          <md-option ng-repeat="gruppo in ListaGruppiIstituti" ng-value="gruppo.Chiave">{{gruppo.Descrizione | uppercase}}</md-option>
        </md-optgroup>
        </md-select>
      </md-input-container>
      <md-input-container class="containerSelect" style="width:20%;margin-right:10px;"><label>PROVINCIA</label>
        <md-select ng-model="ProvinciaFiltro" placeholder="PROVINCIA" class="mdb-select" type="text" name="ProvinciaFiltro">
        <md-optgroup>
          <md-option ng-value="-1">QUALSIASI</md-option>  
          <md-option ng-repeat="provincia in ListaProvince" ng-value="provincia.Chiave">{{provincia.Nome}}</md-option>
        </md-optgroup>
        </md-select>
      </md-input-container>
      <md-input-container ng-show="IsAdministrator()" class="containerSelect" style="width:20%;margin-right:10px;"><label>PROMOTORE</label>
        <md-select ng-model="PromotoreFiltro" placeholder="PROMOTORE" class="mdb-select" type="text" name="PromotoreFiltro">
        <md-optgroup>
          <md-option ng-value="-1">QUALSIASI</md-option>  
          <md-option ng-repeat="promotore in ListaPromotori" ng-value="promotore.Chiave">{{promotore.RagioneSociale | uppercase}}</md-option>
        </md-optgroup>
        </md-select>
      </md-input-container>
    </div>

    <div layout="row" ng-show="StatisticaPresente">
      <md-input-container class="containerSelect" style="width:30%;margin-right:10px;">
        <label>EDITORE</label>
        <md-autocomplete
                    md-input-name="Editore"
                    md-autofocus="true"
                    md-no-cache="true"
                    md-selected-item-change = "selectedItemChangeEditore(item)"
                    md-search-text="searchTextEditore"
                    md-items="item in queryEditore(searchTextEditore)"
                    md-item-text="item.Descrizione"
                    md-require-match="true"
                    md-clear-button="true">
        <md-item-template>
          <span md-highlight-text="searchText">{{item.Descrizione}}</span>
        </md-item-template>
        <md-not-found>
          Nessuna corrispondenza
        </md-not-found>
     </md-input-container>
     <md-input-container class="containerSelect" style="width:20%;margin-right:10px;"><label>GRUPPO EDITORIALE</label>
        <md-select ng-model="GruppoEditorialeFiltro" placeholder="GRUPPO EDITORIALE" class="mdb-select" type="text" name="GruppoEditorialeFiltro">
        <md-optgroup>
          <md-option ng-value="-1">QUALSIASI</md-option>
          <md-option ng-value="-2">GESTITI</md-option> 
          <md-option ng-value="-3">NON GESTITI</md-option> 
          <md-option ng-value="-4">SOLO RIVALI</md-option> 
          <md-option ng-repeat="gruppoEditoriale in ListaGruppiEditoriali" ng-value="gruppoEditoriale.Chiave">{{gruppoEditoriale.Descrizione | uppercase}}<span ng-if="gruppoEditoriale.Rivale"> ⚔</span></md-option>
        </md-optgroup>
        </md-select>
      </md-input-container>
      <md-input-container class="containerSelect" style="width:20%;margin-right:10px;"><label>ADOZIONI</label>
        <md-select ng-model="AdozioniFiltro" class="mdb-select" type="text" name="AdozioniFiltro">
        <md-optgroup>
          <md-option ng-value="-1">TUTTE</md-option>
          <md-option ng-value="-2">AUMENTATE</md-option> 
          <md-option ng-value="-3">INVARIATE</md-option> 
          <md-option ng-value="-4">DIMINUITE</md-option>
        </md-optgroup>
        </md-select>
      </md-input-container>
    </div>

    <div layout="row" ng-show="StatisticaPresente">
      <md-input-container class="containerSelect" style="width:30%;margin-right:10px;">
        <label>TITOLO</label>
        <md-autocomplete
                    md-input-name="Titolo"
                    md-autofocus="true"
                    md-no-cache="true"
                    md-selected-item-change = "selectedItemChangeTitolo(item)"
                    md-search-text="searchTextTit"
                    md-items="item in queryTitolo(searchTextTit)"
                    md-item-text="item.Nome"
                    md-require-match="true"
                    md-clear-button="true">
        <md-item-template>
          <span md-highlight-text="searchText">ISBN : {{item.Codice}} - {{item.Nome}}</span>
        </md-item-template>
        <md-not-found>
          Nessuna corrispondenza
        </md-not-found>
      </md-input-container>

      <md-input-container class="containerSelect" style="width:30%;">
        <label>MATERIA</label>
        <md-autocomplete 
                    md-search-text-change="searchTextChangeMat(searchTextMat)"
                    md-input-name="Materia"
                    md-no-cache="true"
                    md-selected-item-change="selectedItemChangeMateria(item)"
                    md-search-text="searchTextMat"
                    md-items="item in queryMateria(searchTextMat)"
                    md-item-text="item.Materia"
                    md-require-match="true"
                    md-clear-button="true">
        <md-item-template>
          <span md-highlight-text="searchText">{{item.Materia}}</span>
        </md-item-template>
        <md-not-found>
          Nessuna corrispondenza
        </md-not-found>
     </md-input-container>

    </div>
    <div layout="row" ng-show="StatisticaPresente" style="margin-bottom: 20px;">
      <input type="checkbox" ng-model="NuoveAdozioniFiltro" style="margin-left:0px;">SOLO NUOVE ADOZIONI
      <input type="checkbox" ng-model="VolumiUniciPrimiFiltro" style="margin-left:20px;">SOLO VOLUMI UNICI E PRIMI
      <input type="checkbox" ng-model="IstitutiInEntrambi" style="margin-left:20px;">CONFRONTA SOLO ISTITUTI PRESENTI IN ENTRAMBE
    </div>
    <div>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-show="StatisticaPresente && ListaStatistica.length > 0" ng-click="EsportaStatisticaXls()">ESPORTAZIONE STATISTICA XLS</md-button>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-show="StatisticaPresente" ng-click="GeneraStatistica()">GENERA STATISTICA</md-button>
      <md-button class="md-raised md-accent" style="float:left;font-weight:bold;" ng-show="RegistraAdozVisible && ListaStatistica.length > 0" ng-click="RegistraStatoAdozioni()">REGISTRA STATO ATTUALE</md-button>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-show="StatisticaPresente && GruppoEditorialeFiltro != -1" ng-click="ApriPaginaDocentiFiltri()">VAI A DOCENTI</md-button>
    </div>
  </div>
  
  <div ng-show="StatisticaPresente && ListaStatistica.length > 0 && !CaricamentoInCorso && !RegistrazioneInCorso">
    <table style="width:100%;text-align:center;">  
      <tr>
        <th>N° RIGHE</th> 
        <th>N° CLASSI 1</th>
        <th>N° CLASSI 2</th>
        <th>DIFFERENZA CLASSI</th>
        <th>N° CLASSI GESTITE 1</th> 
        <th>N° NUOVE ADOZIONI 1</th> 
      </tr>
      <tr>
        <td>{{DatiCumulativi.NrRigheTotali}}</td> 
        <td>{{DatiCumulativi.NrClassiTot_1}}</td> 
        <td>{{DatiCumulativi.NrClassiTot_2}}</td>
        <td>{{DatiCumulativi.DifferenzaClassi}}</td>
        <td>{{DatiCumulativi.NrClassiGestite}}</td>
        <td>{{DatiCumulativi.NrNuoveAdozioni}}</td>  
      </tr>    
    </table>
  </div>

  <div ng-show="ListaStatistica.length > 0 && !CaricamentoInCorso && !RegistrazioneInCorso">
    <table style="width:100%;text-align:center;" md-row-select="GridOptions.rowSelection" multiple="{{GridOptions.multiSelect}}">  
      <tr>
        <th></th>
        <th>COD.ISTITUTO</th>
        <th>ISTITUTO</th> 
        <th></th>
        <th>COD.ISBN</th>
        <th>TITOLO</th> 
        <th>EDITORE</th> 
        <th>VALORE ADOZIONI (€)</th>              
        <th ng-show="StatisticaPresente">N° CLASSI 1</th>
        <th ng-show="!StatisticaPresente">N° CLASSI</th>
        <th ng-show="StatisticaPresente">N° CLASSI 2</th>
      </tr>  
      <tr ng-repeat="Elemento in ListaStatistica | limitTo : GridOptions.query.limit : (GridOptions.query.page - 1) * GridOptions.query.limit" id={{Utente.Chiave}}>
        <td ng-if="Elemento.CodiceImmagine == 'CerchioRosso'"><img src="img/CerchioRosso.png"></td>
        <td ng-if="Elemento.CodiceImmagine != 'CerchioRosso' && Elemento.CodiceImmagine != 'CerchioVerde'"><img src="img/CerchioBlu.png"></td>
        <td ng-if="Elemento.CodiceImmagine == 'CerchioVerde'"><img src="img/CerchioVerde.png"></td>
        <td>{{Elemento.CodiceIstituto}}</td>
        <td>{{Elemento.NomeIstituto}}</td> 
        <td><img src="img/schoolButton.png" style="width:30px;height:auto;" title="VAI A ISTITUTO" ng-click="ApriPaginaIstituto(Elemento.ChiaveIstituto)"></td> 
        <td>{{Elemento.CodiceTitolo}}</td> 
        <td>{{Elemento.NomeTitolo}}</td>
        <td>{{Elemento.EditoreTitolo}}</td>  
        <td>{{Elemento.ValoreAdozioni}}</td>
        <td>{{Elemento.NrClassi}}</td> 
        <td ng-show="StatisticaPresente">{{Elemento.NrClassiPrec}}</td>   
      </tr>    
    </table>
    <md-table-pagination md-limit="GridOptions.query.limit" 
                         md-limit-options="GridOptions.limitOptions" 
                         md-page="GridOptions.query.page" 
                         md-total="{{ListaStatistica.length}}" 
                         md-page-select="GridOptions.pageSelect" 
                         md-boundary-links="GridOptions.boundaryLinks" 
                         md-on-paginate="logPagination"></md-table-pagination>
  </div>
  <div ng-show="ListaStatistica.length == 0 && StatisticaPresente && !CaricamentoInCorso && !RegistrazioneInCorso" style="text-align: center;font-weight: bold;">
    <p>NESSUNA ADOZIONE SODDISFA I REQUISITI DI RICERCA</p>
  </div>
</div>