<div ng-controller="storageLogPageController">
  <h2>LOG MAGAZZINI</h2>
  <div>
  <div layout="row">
    <md-input-container style="margin-left:20px;" flex=10>
      <label>DAL</label><input ng-model="DataRicercaDal" type="date" name="DataRicercaDal">
    </md-input-container>
    <md-input-container style="margin-left:20px;"flex=10>  
      <label>AL</label><input ng-model="DataRicercaAl" type="date" name="DataRicercaAl">
    </md-input-container>
    <md-radio-group ng-model="Magazzino" style=margin-left:20px;" flex=20>
      <md-radio-button value="G">MAGAZZINO PRINCIPALE</md-radio-button>
      <md-radio-button value="V">MAGAZZINO VOLANTE</md-radio-button>
    </md-radio-group>

    <md-input-container flex=50>
      <label>TITOLO</label>    
      <md-autocomplete style="width:50%;"
                  md-input-name="TitoloLog"
                  md-autofocus="true"
                  md-no-cache="true"
                  md-selected-item-change = "selectedItemChangeTitolo(item)"
                  md-search-text="searchTextTit"
                  md-items="item in queryTitolo(searchTextTit)"
                  md-item-text="item.Nome"
                  md-require-match="true"
                  md-clear-button="true">
      <md-item-template>
        <span md-highlight-text="searchText">{{item.Codice}} - {{item.Nome}}</span>
      </md-item-template>
    </md-input-container>
    <md-button>  
      <img src="img/research.png" style="width:30px;height:auto;" ng-click="RicercaLog()">
    </md-button>
  </div>      
  <iframe style="background:white;" id="logPdf" title="LogMagazzino" height=100% width=100% ></iframe>
</div>
