<div ng-controller="teacherListPageController">
  <div ng-if="!EditingOn">
    <div>
      <h2>DOCENTI</h2>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="NuovoDocente()">NUOVO DOCENTE</md-button>
      <md-button class="md-raised md-accent" style="float:right;font-weight:bold;" ng-click="NuovaSpedizioneMultipla(NomeFiltro)">SPEDIZIONE MULTIPLA</md-button>
      <md-button ng-click="ResetFiltri()" title="RESET FILTRI" ng-if="IsAdministrator()" style="color:red;font-weight:bold;font-size:30;float:right;margin-bottom:10px;"><img src="img/resetGeneric.png" style="width:40px;height:auto;margin-right:10px"></md-button>
    </div>
    
    <div layout="row" style="padding-bottom:0px;">
      <md-input-container class="containerSelect" style="width:33%;height:20px;"><label>COGNOME NOME</label>
        <input ng-model="NomeFiltro" type="search">
      </md-input-container>
       
      <md-input-container class="containerSelect" style="width:33%;"><label>PROVINCIA</label>
        <md-select ng-model="$parent.AProvinciaFiltro" ng-change="RefreshListaDocenti()" class="mdb-select">
           <md-optgroup label="-">
             <md-option ng-value="-1">QUALSIASI</md-option>  
             <md-option ng-repeat="provincia in ListaProvinceF" ng-value="provincia.Chiave">{{provincia.Nome}}</md-option>
           </md-optgroup>
        </md-select>
      </md-input-container>                                              
    </div>
    
    <div layout="row" style="margin-top:0px;">    
      <md-input-container class="containerSelect" style="width:30%;">
         <label>MATERIA</label>
         <md-autocomplete 
                     md-input-name="Materia"
                     md-no-cache="true"
                     md-selected-item-change="selectedItemChangeMateria(item)"
                     md-search-text="searchTextMat"
                     md-items="item in queryMateria(searchTextMat)"
                     md-item-text="item.Nome"
                     md-require-match="true"
                     md-clear-button="true">
         <md-item-template>
           <span md-highlight-text="searchText">{{item.Nome}}</span>
         </md-item-template>
         <md-not-found>
           Nessuna corrispondenza
         </md-not-found>
      </md-input-container>
       
       <md-input-container class="containerSelect" style="width:40%;margin-right:10px;">
         <label>TITOLO</label>
         <md-autocomplete
                     md-input-name="Titolo"
                     md-autofocus="true"
                     md-no-cache="true"
                     md-selected-item-change = "selectedItemChangeTitolo(item)"
                     md-search-text="searchTextTit"
                     md-items="item in queryTitolo(searchTextTit)"
                     md-item-text="item.Nome"
                     md-require-match="true"
                     md-clear-button="true">
         <md-item-template>
           <span md-highlight-text="searchText">ISBN : {{item.Codice}} - {{item.Nome}}</span>
         </md-item-template>
         <md-not-found>
           Nessuna corrispondenza
         </md-not-found>
       </md-input-container>
       
      <md-input-container class="containerSelect" style="width:30%;margin-right:10px;">
         <label>ISTITUTO</label>
         <md-autocomplete
                     md-input-name="Istituto"
                     md-autofocus="true"
                     md-no-cache="true"
                     md-selected-item-change = "selectedItemChangeIstituto(item)"
                     md-search-text="searchTextIstituto"
                     md-items="item in queryIstituto(searchTextIstituto)"
                     md-item-text="item.Istituto"
                     md-require-match="true"
                     md-clear-button="true">
         <md-item-template>
           <span md-highlight-text="searchText">{{item.Istituto}}</span>
         </md-item-template>
         <md-not-found>
           Nessuna corrispondenza
         </md-not-found>
      </md-input-container>
    </div>    
    <div ng-if="ListaDocenti.length != 0">
      <!--<label style="font-weight:bold;" ng-if="ListaIstitutiTitolo.length != 0">TITOLO IN ADOZIONE PRESSO I SEGUENTI ISTITUTI:</label>
      <br>
      <p ng-if="ListaIstitutiTitolo.length != 0">{{ListaIstitutiTitolo}}</p>-->
      <table style="width:100%;text-align:center;" md-row-select="GridOptions.rowSelection" multiple="{{GridOptions.multiSelect}}">  
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>COGNOME NOME</th>
          <th>MATERIA</th>
        </tr>  
        <tr ng-repeat="Docente in ListaDocenti | DocenteByFiltro : NomeFiltro : MateriaFiltro | limitTo : GridOptions.query.limit : (GridOptions.query.page - 1) * GridOptions.query.limit" id={{Docente.Chiave}}>
          <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA DOCENTE" ng-click="EliminaDocente(Docente)"></td> 
          <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA DOCENTE" ng-click="ModificaDocente(Docente)"></td>
          <td><img src="img/delivery.png" style="width:30px;height:auto;" title="NUOVA SPEDIZIONE" ng-click="NuovaSpedizione(Docente.Chiave)"></td>
          <td><img src="img/deliveryList.png" style="width:30px;height:auto;" title="LISTA SPEDIZIONI" ng-click="ListaSpedizioni(Docente)"></td>
          <td ng-if="Docente.Email != 'Non disponibile'"><img src="img/email.png" style="width:30px;height:auto;" title="INVIA MAIL"  ng-click="InvioMail(Docente)"></td>
          <td class="off" ng-if="Docente.Email == 'Non disponibile'"><img src="img/email.png" style="width:30px;height:auto;filter:grayscale(100%);" title="MAIL NON DISPONIBILE"></td>       
          <td class="off">{{Docente.RagioneSociale}}</td>
          <td class="off" ng-bind-html="GetMaterieDoc(Docente)"></td>
        </tr>    
      </table>
      <md-table-pagination md-limit="GridOptions.query.limit" 
                           md-limit-options="GridOptions.limitOptions" 
                           md-page="GridOptions.query.page" 
                           md-total="{{ListaDocenti.length}}" 
                           md-page-select="GridOptions.pageSelect" 
                           md-boundary-links="GridOptions.boundaryLinks" 
                           md-on-paginate="logPagination"></md-table-pagination>
    </div>
    <p ng-if="ListaDocenti.length == 0" style="font-weight:bold;font-style:italic;text-align:center;">NESSUN DOCENTE PRESENTE</p>
  </div>
    
  <div ng-if="EditingOn">
      <form name="docenteEditForm" layout="column" style="width:100%" ng-submit="ConfermaDocente()">
           <div layout="row">
             <h2>DOCENTE</h2>
             <div layout="row" style="width:100%;" layout-align="end start">
               <md-button class="md-raised md-accent" style="font-weight:bold;" type="submit">CONFERMA</md-button> <!--ng-disabled="docenteEditForm.$invalid"-->
               <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="OnAnnullaDocenteClicked()">ANNULLA</md-button>
             </div>
           </div>
                 <md-tabs style="width:100%;" md-selected="selectedIstitutiClassi" md-border-bottom md-autoselect md-dynamic-height md-swipe-content>
                   <md-tab label="Generale">
                     <div layout="row">
                       <md-input-container style="width:10%;">
                         <label>TITOLO</label><input ng-model="DocenteInEditing.Titolo" type="text" name="Titolo">
                       </md-input-container>        
                       <md-input-container style="width:20%;" ng-show="DocenteInEditing.Chiave != -1 || (IstitutoForNewDocente == -1 && DocenteInEditing.Chiave == -1)">
                         <label>COGNOME NOME</label><input ng-model="DocenteInEditing.RagioneSociale" type="text" name="RagioneSociale" > <!--required
                         <div ng-messages="docenteEditForm.RagioneSociale.$error" multiple md-auto-hide="true">
                           <div ng-message="required">Inserire la ragione sociale del docente</div>
                         </div>-->
                       </md-input-container>

                       <md-input-container class="containerSelect" style="margin-left:5px;width:30%;padding-top:0px;" ng-if="DocenteInEditing.Chiave == -1 && IstitutoForNewDocente != -1">
                        <label>DOCENTE</label>
                        <md-autocomplete
                                    md-input-name="Docente"
                                    md-autofocus="true"
                                    md-no-cache="true"
                                    md-selected-item-change = "selectedItemChangeDoc(item)"
                                    md-search-text="searchTextDoc"
                                    md-items="item in queryDoc(searchTextDoc)"
                                    md-item-text="item.NomeDoc"
                                    md-require-match="true"
                                    md-clear-button="true">
                        <md-item-template>
                          <span md-highlight-text="searchText">{{item.NomeDoc}}</span>
                        </md-item-template>
                     </md-input-container>

                     </div>
                                 
                     <div layout="row">
                       <md-input-container style="width:20%;">
                         <label>INDIRIZZO</label><input ng-model="DocenteInEditing.Indirizzo" type="text" name="Indirizzo">
                       </md-input-container> 
                       <md-input-container style="width:20%;">
                         <label>COMUNE</label><input ng-model="DocenteInEditing.Comune" type="text" name="Comune">
                       </md-input-container>
                       <md-input-container style="width:20%;">
                         <label>CAP</label><input ng-model="DocenteInEditing.Cap" type="text" name="Cap">
                       </md-input-container> 
                       <md-input-container class="containerSelect" style="width:33%;"><label>PROVINCIA</label>
                         <md-select ng-model="DocenteInEditing.Provincia" class="mdb-select" type="text" name="Provincia">
                         <md-optgroup label="-">
                           <md-option ng-value="-1">-</md-option>  
                           <md-option ng-repeat="provincia in ListaProvinceAll" ng-value="provincia.Chiave">{{provincia.Nome}}</md-option>
                         </md-optgroup>
                         </md-select>
                       </md-input-container>                                              
                     </div>
                    
                    <div layout="row">
                       <md-input-container class="containerSelect" style="width:33%;"><label>PIATTAFORMA</label>
                         <md-select ng-model="DocenteInEditing.Piattaforma" class="mdb-select" type="text" name="Piattaforma">
                         <md-optgroup label="-">
                           <md-option ng-repeat="piattaforma in ListaPiattaforme" ng-value="piattaforma.Sigla">{{piattaforma.Valore}}</md-option>
                         </md-optgroup>
                         </md-select>
                       </md-input-container>
                       <md-input-container style="width:20%;">
                         <label>EMAIL</label><input type="email" ng-model="DocenteInEditing.Email" type="text" name="Email">
                       </md-input-container> 
                     </div>
                     
                     <div layout="row">
                     <md-input-container class="containerSelect" style="width:33%;"><label>MATERIA 1</label>
                       <md-select ng-model="DocenteInEditing.Materia_1" class="mdb-select" type="text" name="Materia_1">
                       <md-optgroup label="-">
                         <md-option ng-value="-1">-</md-option>  
                         <md-option ng-repeat="materia in ListaMaterie" ng-value="materia.Chiave">{{materia.Nome}}</md-option>
                       </md-optgroup>
                       </md-select>
                     </md-input-container>             
                     <md-input-container class="containerSelect" style="width:33%;"><label>MATERIA 2</label>
                       <md-select ng-model="DocenteInEditing.Materia_2" class="mdb-select" type="text" name="Materia_2">
                       <md-optgroup label="-">
                         <md-option ng-value="-1">-</md-option>  
                         <md-option ng-repeat="materia in ListaMaterie" ng-value="materia.Chiave">{{materia.Nome}}</md-option>
                       </md-optgroup>
                       </md-select>
                     </md-input-container>                
                     <md-input-container class="containerSelect" style="width:33%;"><label>MATERIA 3</label>
                       <md-select ng-model="DocenteInEditing.Materia_3" class="mdb-select" type="text" name="Materia_3">
                       <md-optgroup label="-">
                         <md-option ng-value="-1">-</md-option>  
                         <md-option ng-repeat="materia in ListaMaterie" ng-value="materia.Chiave">{{materia.Nome}}</md-option>
                       </md-optgroup>
                       </md-select>
                     </md-input-container> 
                     </div>
                     <br>
                    
                     <div layout="row">
                       <md-input-container style="width:33%;">
                         <label>PRIMO RECAPITO TELEFONICO</label><input ng-model="DocenteInEditing.NumeroTelefono_1" type="text" name="NumeroTelefono_1">
                       </md-input-container>            
                       <md-input-container style="width:33%;">
                         <label>SECONDO RECAPITO TELEFONICO</label><input ng-model="DocenteInEditing.NumeroTelefono_2" type="text" name="NumeroTelefono_2">
                       </md-input-container>             
                       <md-input-container style="width:33%;">
                         <label>TERZO RECAPITO TELEFONICO</label><input ng-model="DocenteInEditing.NumeroTelefono_3" type="text" name="NumeroTelefono_3">
                       </md-input-container>
                     </div>

                     <md-input-container style="width:33%;">
                       <label>NOTE</label><textarea ng-model="DocenteInEditing.Note" rows="3" cols="3" name="Note"></textarea>
                     </md-input-container> 
                   </md-tab>
                   
                   <md-tab label="Istituti" ng-if="DocenteInEditing.Materia_1 != -1 || DocenteInEditing.Materia_2 != -1 || DocenteInEditing.Materia_3 != -1">                    
                     <md-button class="md-accent md-raised" style="font-weight:bold;" ng-click="AggiungiIstituto($event)">
                       Aggiungi istituto di appartenenza
                     </md-button>
                     <md-button class="md-accent md-raised" style="font-weight:bold;" ng-click="DissociaIstituto(IstitutoVisualizzato)">
                       Dissocia istituto
                     </md-button>
                     <md-input-container class="containerSelect" style="width:33%;"><label>ISTITUTO</label>
                       <md-select ng-model="IstitutoVisualizzato" class="mdb-select" type="text"  name="IstitutoVisualizzato" ng-change="ImpostaDisponibilita(IstitutoVisualizzato)">
                         <md-option ng-repeat="istitutoVis in DocenteInEditing.ListaIstitutiDoc" ng-value="istitutoVis.CHIAVE" >{{istitutoVis.ISTITUTO}}</md-option> <!--ng-click="ModificaTabInsegnamenti(istitutoVis.Chiave)"-->
                       </md-optgroup>
                       </md-select>
                     </md-input-container>
                     <md-button class="md-accent md-raised" style="font-weight:bold;" ng-click="SetAsIndirizzoDocente(IstitutoVisualizzato)">
                       IMPOSTA COME INDIRIZZO DOCENTE
                     </md-button>                     
                     
                     <md-tabs style="width:100%;" md-selected="selectedOrariAndDisponibilita" md-border-bottom md-autoselect md-dynamic-height md-swipe-content>                                               
                       <md-tab label="Orari">
                         <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="NuovoOrario($event,IstitutoVisualizzato,DocenteInEditing.Chiave)">INSERISCI NUOVO ORARIO</md-button>                                      
                         <table style="width:100%;text-align:center;" md-row-select="GridOptions2.rowSelection" multiple="{{GridOptions2.multiSelect}}">  
                           <tr>
                             <th></th>
                             <th></th> 
                             <th>MATERIA</th>
                             <th>CLASSE</th>
                             <th>GIORNO</th>
                             <th>ORA</th>
                           </tr>  
                           <tr ng-repeat="Orario in GetOrariSelected(IstitutoVisualizzato) | limitTo : GridOptions2.query.limit : (GridOptions2.query.page - 1) * GridOptions2.query.limit" id={{Orario.CHIAVE}}> <!-- | OrarioByIstituto : IstitutoVisualizzato -->
                             <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA ORARIO" ng-click="EliminaOrario(Orario)"></td> 
                             <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA ORARIO"ng-click="ModificaOrario(Orario)"></td>        
                             <td class="off">{{Orario.MateriaNome == -1 ? '-' : Orario.MateriaNome | uppercase}}</td> 
                             <td class="off">{{Orario.ClasseNome == -1 ? '-' : Orario.ClasseNome | uppercase}}</td>  
                             <td class="off">{{Orario.GiornoNome == -1 ? '-' : Orario.GiornoNome | uppercase}}</td>  
                             <td class="off">{{Orario.ORARIO == '' ? '-' : Orario.ORARIO | uppercase}}</td>                           
                           </tr>    
                         </table>
                         <md-table-pagination md-limit="GridOptions2.query.limit" 
                                              md-limit-options="GridOptions2.limitOptions" 
                                              md-page="GridOptions2.query.page" 
                                              md-total="{{ListaOrari.length}}" 
                                              md-page-select="GridOptions2.pageSelect" 
                                              md-boundary-links="GridOptions2.boundaryLinks" 
                                              md-on-paginate="logPagination"></md-table-pagination>
                       </md-tab>
                       <md-tab label="Disponibilità">
                         <table style="width:100%;text-align:center;" md-row-select="GridOptions3.rowSelection" multiple="{{GridOptions3.multiSelect}}">  
                           <thead>
                             <tr style="font-weight:bold;">
                              <th>GIORNO</th>
                              <th>DA</th>
                              <th>A</th>
                              <th>DA</th>
                              <th>A</th>
                              <th>DA</th>
                              <th>A</th>
                             <tr>
                           </thead>
                           <tbody>
                             <tr>
                               <th style="font-weight:bold;">LUNEDI</th>
                               <td><input type="time" ng-model="DisponibilitaInEditing[0][0].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[0][0].A"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[0][1].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[0][1].A"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[0][2].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[0][2].A"></td>                               
                             </tr>
                             <tr>
                               <th style="font-weight:bold;">MARTEDI</th>
                               <td><input type="time" ng-model="DisponibilitaInEditing[1][0].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[1][0].A"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[1][1].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[1][1].A"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[1][2].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[1][2].A"></td>                               
                             </tr>
                             <tr>
                               <th style="font-weight:bold;">MERCOLEDI</th>
                               <td><input type="time" ng-model="DisponibilitaInEditing[2][0].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[2][0].A"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[2][1].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[2][1].A"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[2][2].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[2][2].A"></td>                               
                             </tr>
                             <tr>
                               <th style="font-weight:bold;">GIOVEDI</th>
                               <td><input type="time" ng-model="DisponibilitaInEditing[3][0].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[3][0].A"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[3][1].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[3][1].A"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[3][2].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[3][2].A"></td>                               
                             </tr>
                             <tr>
                               <th style="font-weight:bold;">VENERDI</th>
                               <td><input type="time" ng-model="DisponibilitaInEditing[4][0].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[4][0].A"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[4][1].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[4][1].A"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[4][2].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[4][2].A"></td>                               
                             </tr>
                             <tr>
                               <th style="font-weight:bold;">SABATO</th>
                               <td><input type="time" ng-model="DisponibilitaInEditing[5][0].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[5][0].A"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[5][1].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[5][1].A"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[5][2].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[5][2].A"></td>                               
                             </tr>
                             <tr>
                               <th style="font-weight:bold;">DOMENICA</th>
                               <td><input type="time" ng-model="DisponibilitaInEditing[6][0].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[6][0].A"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[6][1].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[6][1].A"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[6][2].DA"></td>
                               <td><input type="time" ng-model="DisponibilitaInEditing[6][2].A"></td>                               
                             </tr>                             
                           </tbody>
                         </table>
                         <md-table-pagination md-limit="GridOptions3.query.limit" 
                                              md-limit-options="GridOptions3.limitOptions" 
                                              md-page="GridOptions3.query.page" 
                                              md-total="{{ListaDisponibilita.length}}" 
                                              md-page-select="GridOptions3.pageSelect" 
                                              md-boundary-links="GridOptions3.boundaryLinks" 
                                              md-on-paginate="logPagination"></md-table-pagination>                         
                       </md-tab>
                     </md-tabs>
                   </md-tab>    
               </md-tabs>
      </form>               

  </div> 
</div> 