<md-dialog>
  <form ng-cloak name="PopupForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 style="font-weight:bold;color:white;">SPEDIZIONI DOCENTE</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
          <div class="md-dialog-content">
            <md-input-container class="containerSelect" style="width:30%;"><label>ANNO</label>
            <md-select ng-model="AnnoRicercaSpedizioni" ng-change="RefreshListaSpedizioni()" class="mdb-select" type="text" name="Anno">
            <md-optgroup>
              <md-option ng-repeat="Anno in ListaAnni" ng-value="Anno">{{Anno}}</md-option>
            </md-optgroup>
            </md-select>
          </md-input-container>
          <p style="font-weight:bold;text-align:center;width:1000px;" ng-if="ListaSpedizioniDoc.length == 0">NESSUNA SPEDIZIONE REGISTRATA</p>
          <table style="text-align:center;width:1000px;" md-row-select="GridOptions3.rowSelection" multiple="{{GridOptions3.multiSelect}}" ng-if="ListaSpedizioniDoc.length > 0">  
          <tr>
            <th></th>
            <th></th>  
            <th></th>     
            <th>DATA</th>
            <th>TITOLI (ISBN / TITOLO / STATO)</th>
          </tr>  
          <tr ng-repeat="Spedizione in ListaSpedizioniDoc | limitTo : GridOptions.query.limit : (GridOptions3.query.page - 1) * GridOptions3.query.limit" id={{Spedizione.CHIAVE}}>
            <td><img src="img/delete.png" style="width:30px;height:auto;" title="ELIMINA SPEDIZIONE" ng-click="EliminaSpedizione(Spedizione)"></td> 
            <td><img ng-if="GetIfPrenotati(Spedizione)" src="img/deleteBooked.png" style="width:30px;height:auto;" title="ELIMINA PRENOTATI" ng-click="EliminaPrenotati(Spedizione)"></td> 
            <td><img src="img/edit.png" style="width:30px;height:auto;" title="MODIFICA SPEDIZIONE" ng-click="ModificaSpedizione(Spedizione.CHIAVE)"></td>                       
            <td>{{Spedizione.DATA}}</td>
            <td style="text-align:left;" ng-bind-html="GetTitoliSpedizione(Spedizione)"></td>
          </tr>    
          </table>
          <md-table-pagination md-limit="GridOptions3.query.limit" 
                               md-limit-options="GridOptions3.limitOptions" 
                               md-page="GridOptions3.query.page" 
                               md-total="{{ListaSpedizioniDoc.length}}" 
                               md-page-select="GridOptions3.pageSelect" 
                               md-boundary-links="GridOptions3.boundaryLinks" 
                               md-on-paginate="logPagination"
                               style="width:1000px;"
                               ng-if="ListaSpedizioniDoc.length > 0"></md-table-pagination>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-accent" style="font-weight:bold;" ng-click="ChiudiPopup()">
       CHIUDI
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>