<div ng-controller="versionController" style="height:100%;overflow:scroll;font-family:courier;">
    <h1 style="font-weight:bold;">CONTROLLO VERSIONI</h1>
    <p style="white-space: pre;">
       18 NOVEMBRE 2020 - VERSIONE 1.14.18
                        - CHG: I PULSANTI DI ELIMINAZIONE DI DOCENTI,ISTITUTI E TITOLI SONO VISIBILI SOLO PER GLI AMMINISTRATORI
    </p>
    <p style="white-space: pre;">
       18 NOVEMBRE 2020 - VERSIONE 1.13.18
                        - FIX: ERRORE NELL'ALERT MAIL INVIATA
                        - FIX: REINSERITO IL TASTO INVIO MAIL MULTIPLE
    </p>
    <p style="white-space: pre;">
       11 NOVEMBRE 2020 - VERSIONE 1.13.17
                        - NEW: AGGIUNTA POSSIBILITA DI INVIARE MAIL MULTIPLA (MASSIMO 500 DOCENTI)
                        - NEW: AGGIUNTO FILTRO PER AUTORE NELLA RICERCA MULTIPLA DEI TITOLI DA INSERIRE IN UNA SPEDIZIONE
                        - NEW: AGGIUNTA EMAIL SECONDARIA PER UN DOCENTE, PER L'INVIO DI EMAIL VIENE CONSIDERATA SEMPRE LA EMAIL PRINCIPALE
                        - CHG: SE L'ELIMINAZIONE DI UN ELEMENTO COMPORTA DEI CONFLITTI VIENE MOSTRATO UN NUOVO MESSAGGIO DI ERRORE
                               CONTENENTE IL PRIMO CONFLITTO RILEVATO
                        - FIX: CORREZIONE DELL'AVVISO QUANDO SI IMPOSTA INDIRIZZO PREDEFINITO DI UN DOCENTE
                        - FIX: CORREZIONE VISUALIZZAZIONE SPEDIZIONI PER PROMOTORE NELLA LISTA SPEDIZIONI DI UN DOCENTE
                        - FIX: CORREZIONI STAMPA ETICHETTE
                        - FIX: CORRETTO PROBLEMA INVIO MAIL
    </p>
    <p style="white-space: pre;">
    16 NOVEMBRE 2020 - VERSIONE 1.12.16
                     - NEW: I TITOLI CON EDITORE GESTITO VENGONO EVIDENZIATI IN ROSA NELLE ADOZIONI DI UN ISTITUTO
                     - NEW: AGGIUNTE ICONE IN LISTA ISTITUTI CHE MOSTRANO SE UN ISTITUTO CONTIENE ADOZIONI E/O DOCENTI
                     - NEW: AGGIUTO FILTRO DEL COMUNE IN LISTA ISTITUTI
                     - NEW: DURANTE INVENTARIO COMPARE L'UBICAZIONE DEL TITOLO ATTUALMENTE SCANSIONATO
                     - CHG: QUANDO SI ASSEGNA A UN DOCENTE COME INDIRIZZO QUELLO DI UN SUO ISTITUTO, IN CASO DI DATI MANCANTI
                            DI QUEST'ULTIMO, VENGONO INDICATI I DATI MANCANTI
                     - CHG: SOLAMENTE UN ADMIN PUO' ASSEGNARE UN ISTITUTO A UN PROMOTORE O AD UN ALTRO ADMIN
                     - CHG: MODIFICA STAMPA ETICHETTE, SE UNA SPEDIZIONE E' FATTA AL VOLO NON VIENE STAMPATO IL CUMULATIVO
                     - CHG: MODIFICA IMPORTAZIONE DA MAILCHIMP DA CHIAMATA HTTP A IMPORTAZIONE CSV
                     - CHG: NELLA LISTA ADOZIONI DI UN ISTITUTO RIMOSSA DICITURA ISBN E AGGIUNTO PREZZO DEL TITOLO
                     - CHG: CAMBIANDO FILTRI SI RITORNA ALLA PRIMA PAGINA DELLA LISTE
                     - CHG: RIMOSSO OBBLIGO "@" DA PEC E EMAIL NELLE SCHEDE DI MODIFICA ISTITUTO E DOCENTE, SE IN IMPORTAZIONE IL CAMPO
                            NON CONTIENE "@" VIENE SALVATA UNA STRINGA VUOTA
                     - FIX: APRENDO UN ISTITUTO NON SI VA PIU' DIRETTAMENTE ALLE ADOZIONI
    </p>
    <p style="white-space: pre;">
    11 NOVEMBRE 2020 - VERSIONE 1.11.15
                     - FIX: CORREZIONI STAMPA ETICHETTE
                     - FIX: GESTIONE ERRORE SPOSTAMENTO DOCENTE IN ISTITUTO AL QUALE E' GIA' ASSEGNATO
    </p>
    <p style="white-space: pre;">
    11 NOVEMBRE 2020 - VERSIONE 1.11.14
                     - FIX: CORREZIONE IMPORTAZIONE CARICO DA CSV
    </p>
    <p style="white-space: pre;">
    10 NOVEMBRE 2020 - VERSIONE 1.11.13
                     - FIX: CORREZIONE GESTIONE CARATTERI SPECIALI IN PAGINA CONFIGURAZIONI
    </p>
    <p style="white-space: pre;">
    10 NOVEMBRE 2020 - VERSIONE 1.11.12
                     - CHG: RIMOSSA LA POSSIBILITA' TEMPORANEA DI INSERIRE UBICAZIONE TRAMITE CSV IN CARICHI MAGAZZINO
                     - CHG: DURANTE UN INVENTARIO IL TITOLO APPENA SCANSIONATO APPARE IN CIMA ALLA LISTA 
                            (SOLO SE E' LA PRIMA SCANSIONE DI QUEL TITOLO)
    </p>
    <p style="white-space: pre;">
    09 NOVEMBRE 2020 - VERSIONE 1.11.11
                     - FIX: CORRETTA VISUALIZZAZIONE PROVINCIA IN ETICHETTE DI SPEDIZIONE
    </p>
    <p style="white-space: pre;">
    06 NOVEMBRE 2020 - VERSIONE 1.11.10
                     - NEW: LE STAMPE PDF DI ADOZIONI E DISPONIBILITÀ DEI DOCENTI HANNO UN TASTO CHE PERMETTE DI TORNARE INDIETRO ALLA 
                            SCHERMATA PRECEDENTE
                     - NEW: AGGIUNTO L'EDITORE DEI TITOLI NELLE ADOZIONI DELL'ISTITUTO 
                     - NEW: AGGIUNTA POSSIBILITÀ DI MODIFICARE UBICAZIONE DEI TITOLI DALLA PAGINA DEI CARICHI
                     - NEW: TRAMITE IMPORTAZIONE CARICHI DA CSV VENGONO CAMBIATE ANCHE LE UBICAZIONI DEI TITOLI INSERITI (TEMPORANEO)
                     - NEW: IL REPORT DI UN CARICO DA UN CSV CONTIENE ANCHE LA LISTA DEI TITOLI NON INSERITI A CAUSA DI EDITORE NON 
                            GESTITO O ALTRO ERRORE
                     - NEW: TASTO LISTA SPEDIZIONI DI UN DOCENTE IN PAGINA DOCENTI NON ATTIVA SE NON PRESENTE NEMMENO UNA SPEDIZIONE
                     - NEW: AGGIUNTO FILTRO TITOLO NELLA PAGINA DELLE SPEDIZIONI
                     - CHG: RIVISITAZIONE COMPLETA DEL FOGLIO SCUOLA
                     - CHG: NELLA PAGINA LOG MAGAZZINI VIENE ORA VISUALIZZATO IL REPORT E NON VIENE PIÙ SCARICATO IMMEDIATAMENTE
                     - CHG: I TASTI PER L'ESPORTAZIONE DELL'INVENTARIO IN PDF/XLS SONO STATI SPOSTATI NELLA PAGINA DELL'INVENTARIO
                     - CHG: I PROMOTORI POSSONO VEDERE NELL'ELENCO DEGLI ISTITUTI SOLO QUELLI AD ESSI ASSEGNATI
                     - CHG: ELIMINATI GIORNO E ORA DALLE ASSOCIAZIONI DI UN INSEGNANTE AD UNA CLASSE DI UN ISTITUTO
                     - FIX: GESTIONE DEI FILTRI MIGLIORATA SU TUTTE LE PAGINE
    </p>
    <p style="white-space: pre;">
    04 NOVEMBRE 2020 - VERSIONE 1.10.9
                     - NEW: I DATI INSERITI DURANTE PROCEDURA DI INVENTARIO SONO SALVATI TEMPORANEAMENTE SUL DATABASE. ALL'APERTURA DELLA PAGINA
                            VENGONO CARICATI I DATI SALVATI PRECEDENTEMENTE, IN CASO DI CONFERMA I DATI VENGONO SALVATI MENTRE IN CASO DI ANNULLA VENGONO
                            ELIMINATI ANCHE QUELLI TEMPORANEI DAL DATABASE
    </p>
    <p style="white-space: pre;">
    27 OTTOBRE 2020  - VERSIONE 1.9.9
                     - NEW: SE UNA SPEDIZIONE CONTIENE UNO O PIU' TITOLI DA SPEDIRE VIENE DATA LA POSSIBILITA' DI GENERARE SUBITO L'ETICHETTA 
                            PER I TITOLI DA SPEDIRE
                     - NEW: AGGIUNTA COLONNA EDITORE ALLA LISTA DEI TITOLI
                     - NEW: AGGIUNTA POSSIBILITA DI RIMUOVERE DOCENTI DA UNA SPEDIZIONE MULTIPLA
                     - NEW: AGGIUNTA POSSIBILITA DI IMPOSTARE CONTEMPORANEAMENTE TUTTI I TITOLI DI UNA SPEDIZIONE COME PRENOTATI 
                            DURANTE L'AGGIUNTA MULTIPLA
                     - CHG: CREATI PROMPT,ALERT E DIALOG PERSONALIZZATI PER EVITARE IL BLOCCO DELL'INTERFACCIA CON L'USO DA TABLET
                     - CHG: SE UNA SPEDIZIONE E' PER UN ISTITUTO IL NOME DI QUESTO SOSTITUISCE IL PRESSO NELLE ETICHETTE DI SPEDIZIONE
                     - CHG: PICCOLE MODIFICHE GRAFICHE PER UNA MIGLIORE VISUALIZZAZIONE DA TABLET
                     - FIX: CORREZIONE IMPAGINAZIONE PER L'AGGIUNTA MULTIPLA DI TITOLI IN UNA SPEDIZIONE
    </p>
    <p style="white-space: pre;">
    21 OTTOBRE 2020   - VERSIONE 1.8.8
                      - NEW: AGGIUNTA POSSIBILITA DI MODIFICARE UBICAZIONE DI UN TITOLO DURANTE L'INVENTARIO 
                      - NEW: AGGIUNTA POSSIBILITA DI ESPORTARE IN XLS IL CUMULATIVO DI TUTTI I TITOLI PRENOTATI O CONSEGNATI
                      - NEW: AGGIUNTA DATA VISIBILE DELL'ULTIMA IMPORTAZIONE DA MAILCHIMP
                      - CHG: IL FILTRO ISTITUTO VIENE MANTENUTO IN PAGINA TITOLI, I FILTRI MATERIA,ISTITUTO E MATERIA VENGONO MANTENUTI IN 
                             PAGINA DOCENTI
                      - CHG: IL FILTRO PER TITOLI DELLA PAGINA DOCENTI CONTIENE TUTTI I TITOLI
                      - CHG: POSSIBILITA DI NASCONDERE PARTE DELL'ETICHETTA DI SPEDIZIONE
                      - CHG: NEL POPUP DI ASSOCIAZIONE ISTITUTO A DOCENTE VENGONO MOSTRATI SOLO GLI ISTITUTI VISIBILI
                      - CHG: POSSIBILITA DI SELEZIONARE CON IL MOUSE OGNI DATO UTILE PRESENTE SULLE TABELLE
                      - FIX: CORREZIONI ALL'INTERFACCIA DEI CARICHI E DEI TRIGGER RELATIVI SUL DATABASE
                      - FIX: CORREZIONI AL SALVATAGGIO DEI DATI DI TITOLI E ISTITUTI
                      - FIX: CORREZIONE DELLA QUERY PER I PRENOTATI DISPONIBILI PER PROMOTORE
    </p>
    <p style="white-space: pre;">
    20 OTTOBRE 2020   - VERSIONE 1.7.7
                      - NEW: DURANTE LA CREAZIONE DI UN NUOVO DOCENTE VENGONO VISUALIZZATI I NOMI DEI DOCENTI GIA PRESENTI NEL DATABASE CON QUEL NOME,
                             E SE ERA ATTIVO IL FILTRO PER ISTITUTI VIENE DATA LA POSSIBILITA DI SPOSTARE QUEL DOCENTE NELL'ISTITUTO FILTRATO  
                      - NEW: POSSIBILITA DI SCARICA XLS DOPO AVER ESEGUITO INVENTARIO
                      - NEW: LE ETICHETTE POSSONO ORA ESSERE FILTRATE E SELEZIONATE PRIMA DI ESSERE SPEDITE, INOLTRE DA GESTIONE AVANZATA DOPO UN
                             CUMULATIVO VIENE GENERATO IMMEDIATAMENTE IL DOCUMENTO PDF RELATIVO
                      - NEW: AGGIUNTI IN LISTA CONFIGURAZIONI GLI EDITORI GESTITI
                      - CHG: RIMOSSI AVVISO TITOLO TROVATO E TASTO ABILITA MODIFICHE QUANTITA IN GESTIONE INVENTARIO
                      - CHG: SPOSTATO TASTO RESET INVENTARIO IN GESTIONE INVENTARIO
                      - CHG: AGGIUNTO NOME ISTITUTO NELLE INFORMAZIONI DELLE SPEDIZIONI AVANZATE
                      - CHG: NEI FILTRI PROVINCIA COMPAIONO SOLO LE PROVINCE GESTITE
                      - CHG: SOLO NELLA LISTA DEI TITOLI VENGONO VISUALIZZATI TUTTI I TITOLI, IN OGNI ALTRA FINESTRA SOLO QUELLI 
                             IMPORTATI DA CATALOGO DE AGOSTINI E/O MONDADORI
    </p>
    <p style="white-space: pre;">
    18 OTTOBRE 2020   - VERSIONE 1.6.6
                      - NEW: AGGIUNTA GESTIONE DELL'ERRORE DI ACCESSO NEGATO PER SOSPETTO ATTACCO DDOS
    </p>
    <p style="white-space: pre;">
    16 OTTOBRE 2020   - VERSIONE 1.5.6
                      - NEW: AGGIUNTA GESTIONE INVENTARIO E POSSIBILITA' DI AGGIORNARE LE QUANTITA DEI TITOLI TRAMITE LETTORE DI CODICE A BARRE
                      - NEW: AGGIUNTO BOTTONE IN PAGINA TITOLI CHE RESETTA I MAGAZZINI
                      - NEW: AGGIUNTA TAB DELLE ADOZIONI PER CLASSE NELLA SCHEDA DI UN ISTITUTO
                      - CHG: POSSIBILITA DI SALVARE INVENTARIO COME XLS O PDF, VENGONO MOSTRATI SOLO TITOLI CON QUANTITA NON NULLE
                      - CHG: GESTIONE AVANZATA DELLE SPEDIZIONI MOSTRA SUBITO TUTTI LE SPEDIZIONI PRENOTATE DISPONIBILI DEL PROMOTORE SELEZIONATO
                      - FIX: CORRETTA VISUALIZZAZIONE NELLA MODIFICA DI UN ELEMENTO DI UNA SPEDIZIONE
                      - FIX: PICCOLE MODIFICHE ALLA GESTIONE DEL MAGAZZINO VOLANTE
    </p>
    <p style="white-space: pre;">
    13 OTTOBRE 2020   - VERSIONE 1.4.5
                      - NEW: AGGIUNTA IMPORTAZIONE MAIL DA MAILCHIMP
                      - NEW: AGGIUNTA GESTIONE DELLE DIVERSE COMBINAZIONI PER LE CLASSI
                      - NEW: AGGIUNTA POSSIBILITA' DI AGGIUNGERE PIU' TITOLO IN BLOCCO NELLE SPEDIZIONI
                      - CHG: NELLA GESTIONE AVANZATA IL FILTRO PROVINCIA CONTIENE SOLO LE PROVINCE GESTITE
                      - CHG: I FILE DI STAMPA VENGONO SALVATI DIRETTAMENTE E NON APPAIONO IN FINESTRA A MENO CHE NON CI SIANO RECORD                   
    </p>
    <p style="white-space: pre;">
    1 OTTOBRE 2020    - VERSIONE 1.3.4
                      - NEW: AGGIUSTA GESTIONE AVANZATA DELLE SPEDIZIONI PRENOTATE DISPONIBILI NELLA LISTA DI SPEDIZIONE
                      - CHG: NELLE LISTE LA DICITURA PRESSO CORRISPONDE CON IL PRESSO IN CASO DI SPEDIZIONE PER UNA CASA EDITRICE, OPPURE 
                             IL NOME DEL DOCENTE IN CASO DI SPEDIZIONE PER UN DOCENTE
                      - CHG: MODIFICATA COMPARSA BOTTONE DA SPEDIRE NELLE LISTE E NEI DETTAGLI DI SPEDIZIONE
                      - FIX: CORRETTI CONTEGGI PER GLI STATI POSSIBILI DI SPEDIZIONE PER UN TITOLO                      
    </p>
    <p style="white-space: pre;">    
    28 SETTEMBRE 2020 - VERSIONE 1.2.3
                      - NEW: AGGIUNTA COLONNA MATERIE NELLA LISTA DEI DOCENTI 
                      - NEW: AGGIUNTA COLONNA ISBN NELLA LISTA DEI TITOLI
                      - NEW: AGGIUNTO FILTRO PER TITOLO NELLA LISTA DEI CARICHI ED AGGIUNTA COLONNA ISBN ALLA LISTA DEI CARICHI
                      - NEW: AGGIUNTO FILTRO PER DOCENTE NELLA LISTA DELLE SPEDIZIONI, I PROMOTORI POSSONO SOLO RICERCARE TRAMITE 
                             I DOCENTI CHE INSEGNANO NEGLI ISTITUTI ASSEGNATI AL PROMOTORE
                      - NEW: AGGIUNTO L'ISTITUTO ALLA SPEDIZIONE IN CASO DI SPEDIZIONE AD ISTITUTO, ED AGGIUNTO FILTRO PER ISTITUTO 
                             ALLA LISTA DELLE SPEDIZIONI
                      - NEW: I PROMOTORI POSSONO ORA ESEGUIRE LE STAMPE
                      - NEW: AGGIUNTA NEL FILE XLS ESPORTATO DELLE SPEDIZIONI UNA SECONDA SCHEDA CHE CONTIENE IL CUMULATIVO DEI TITOLI E DEI 
                             RELATIVI STATI DI SPEDIZIONE
                      - NEW: NELLA LISTA DOCENTI SE INSERITO UN TITOLO NEL FILTRO, LA LISTA DEGLI ISTITUTI PER LA RICERCA VIENE SOSTITUITA CON 
                             QUELLA DEGLI ISTITUTI DOVE IL TITOLO INSERITO E' IN ADOZIONE 
                      - NEW: AGGIUNTO NELLA LISTA ISTITUTI UN BOTTONE CHE NASCONDE UN ISTITUTO ED ESEGUE IL PASSAGGIO DI TUTTI I SUOI DOCENTI 
                             IN UN NUOVO ISTITUTO SELEZIONATO.
                             LE DISPONIBILITA E GLI ORARI DEI DOCENTI MOVIMENTATI SONO ELIMINATE AUTOMATICAMENTE                      
                      - NEW: IN TUTTI I FILTRI PER ISTITUTO COMPAIONO SOLO GLI ISTITUTI VISIBILI
                      - CHG: SPOSTATI IN BASSO NELLA PAGINA PRINCIPALE I BOTTONI PER LE STAMPE E PER IL MAGAZZINO VOLANTE
                      - CHG: NELLA LISTA DOCENTI IL FILTRO DEGLI ISTITUTI CONTIENE SOLO QUELLI CON ALMENO UN DOCENTE ASSEGNATO
                      - CHG: LA STAMPA DELLE ETICHETTE NON MOSTRA PIU' IL RIASSUNTO DELLE SPEDIZIONI MA MOSTRA UN CUMULATIVO DEI TITOLI SPEDITI
                      - CHG: NELLA LISTA DEI DOCENTI LA LISTA SPEDIZIONI PER DOCENTE MOSTRA I TITOLI DELLA SPEDIZIONE ED I LORO STATI
                      - CHG: DI DEFAULT SE UN DOCENTE E' ASSEGNATO AD UN SOLO ISTITUTO I DATI DI SPEDIZIONE VENGONO IMPOSTATI CON L'INDIRIZZO DI QUELL'ISTITUTO, 
                             SE UN DOCENTE E' ASSEGNATO A PIU ISTITUTI NON VIENE INSERITO NESSUN VALORE DI DEFAULT
                      - CHG: NELLE LISTE SPEDIZIONI SE LA SPEDIZIONE E' PER UN DOCENTE, IL PRESSO VIENE SOSTITUITO CON IL NOME DEL DOCENTE                      
                      - FIX: SPEDIZIONI SONO ORA IN ORDINE DISCENDENTE DI DATA
                      - FIX: SE UN TITOLO NON E' PRESENTE NEL MAGAZZINO VOLANTE NON VIENE DATA POSSIBILITA DI SEGNARLO SUBITO COME CONSEGNATO
                      - FIX: IL PRESSO VIENE ORA VISUALIZZATO CORRETTAMENTE NELLE LISTE DI SPEDIZIONE
                      - FIX: CORRETTA L'IMPORTAZIONE DEI TITOLI CHE CANCELLAVA LA PRECEDENTE IMPORTAZIONE
                      - FIX: NELLA LISTA ISTITUTI IL CAMPO EMAIL E PEC RICHIEDONO UN VALORE CHE CONTIENE UNA @, ALTRIMENTI NON E' POSSIBILE 
                             ESEGUIRE LA MODIFICA DELL'ISTITUTO
                      
    </p>
    <p style="white-space: pre;">
    15 SETTEMBRE 2020 - VERSIONE 1.1.2
                      - FIX: INSERITO INVIO EMAIL
                      - FIX: GESTIONE STAMPA ETICHETTE IN CASO DI INFORMAZIONI DEI TITOLI MANCANTI                       
    </p>
    <p style="white-space: pre;">
    15 SETTEMBRE 2020 - VERSIONE 1.0.1
                      - FIX: SALVA SU FILE INVENTARIO 
                      - FIX: DATA LOG TRIGGER 
                      - FIX: MODIFICATA QUERY SPEDIZIONE DOCENTE CHE INCLUDEVA PROMOTORE NELLA WHERE CON UTENTE PROMOTORE
                      - FIX: MODIFICATO NEL MODELLO TITOLI LA SELECT PER FILTRO
                      - FIX: MODIFICATO NELLA LISTA DOCENTI IL RESET DELLA LISTA DEGLI ISTITUTI PER IL TITOLO FILTRATO 
                      - FIX: MODIFICATO FORM TEMPLATE SPEDIZIONI CHE IMPEDISCE INSERIMENTO SPEDIZIONE SE TUTTI I CAMPI NON SONO COMPILATI
                      - FIX: MODIFICATO INPUT TYPE EMAIL IN TEMPLATE DOCENTI E ISTITUTI
    </p>
    <p style="white-space: pre;">
    14 SETTEMBRE 2020 - VERSIONE 1.0.0
                      - PRIMA VERSIONE UFFICIALE 
    </p>
</div>