<div ng-controller="versionController" style="height:100%;overflow:scroll;font-family:courier;">
  <h1 style="font-weight:bold;">CONTROLLO VERSIONI</h1>
  <p style="white-space: pre;">
    15 SETTEMBRE 2020 - VERSIONE 1.0.1
                      - FIX: SALVA SU FILE INVENTARIO, 
                       -FIX: DATA LOG TRIGGER 
                       -FIX: MODIFICATA QUERY SPEDIZIONE DOCENTE CHE INCLUDEVA PROMOTORE NELLA WHERE CON UTENTE PROMOTORE
                       -FIX: MODIFICATO NEL MODELLO TITOLI LA SELECT PER FILTRO
                       -FIX: MODIFICATO NELLA LISTA DOCENTI IL RESET DELLA LISTA DEGLI ISTITUTI PER IL TITOLO FILTRATO 
                       -FIX: MODIFICATO FORM TEMPLATE SPEDIZIONI CHE IMPEDISCE INSERIMENTO SPEDIZIONE SE TUTTI I CAMPI NON SONO COMPILATI
                       -FIX: MODIFICATO INPUT TYPE EMAIL IN TEMPLATE DOCENTI E ISTITUTI
                       -FIX: GESTIONE STAMPA ETICHETTE IN CASO DI INFORMAZIONI DEI TITOLI MANCANTI                       
  </p>
  <p style="white-space: pre;">
    14 SETTEMBRE 2020 - VERSIONE 1.0.0
                      - PRIMA VERSIONE UFFICIALE 
  </p>
</div>