<html>
<head> 
  <title>SIRIO</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="library/angular-material/angular-material.css">
  <link rel="stylesheet" href="css/Sirio.css">
  <link href="library/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" href="img/icons/login-icon.ico" /> 
  <script src="ZLibrary/ZStringFunct.js"></script>
  <script src="ZLibrary/ZStringConvFunct.js"></script>
  <script src="ZLibrary/ZDateFunct.js"></script>
  <script src="ZLibrary/ZArrayFunct.js"></script>
  <script type="text/javascript" src="library/xlsx-style/xlsx.core.min.js"></script>
  <script type="text/javascript" src="library/xlsx-style/Blob.js"></script>
  <script type="text/javascript" src="library/xlsx-style/FileSaver.js"></script>
  <script src="library/angular/angular.min.js"></script>
  <script src="library/angular-material/angular-material.js"> </script>
  <script src="library/angular/angular-animate.min.js"></script>
  <script src="library/angular/angular-aria.min.js"></script>
  <script src="library/angular/angular-messages.min.js"></script>
  <script src="library/ui-routing/angular-ui-router.min.js"></script>
  <script src="library/moment.js"></script>
  <script type="text/javascript" src="library/jsPDF-master/jspdf.debug.js"></script>
  <script type="text/javascript" src="library/jsPDF-master/jspdf.plugin.addimage.js"></script>
  <script type="text/javascript" src="library/angular-material-data-table/dist/md-data-table.min.js"></script>  
  <script type="text/javascript" src="js/SIRIOCfg.js"></script>
  <script type="text/javascript" src="js/SIRIODef.js"></script>
  <script type="text/javascript" src="js/SIRIO.js"></script>
  <script type="text/javascript" src="js/SIRIOSystemInformation.js"></script>
  <script src="js/loginPage.js"></script>
  <script src="js/startPage.js"></script>   
  <script src="js/changePasswordPage.js"></script>
  <script src="js/userListPage.js"></script>
  <script src="js/instituteListPage.js"></script>
  <script src="js/teacherListPage.js"></script>
  <script src="js/orderEntryListPage.js"></script>
  <script src="js/titleListPage.js"></script>  
  <script src="js/configurationsListPage.js"></script>
  <script src="js/csvInstituteController.js"></script>
  <script src="js/csvBookController.js"></script>
  <script src="js/csvTeacherController.js"></script>
  <script src="js/deliveryListPageController.js"></script>
  <script src="js/deliveryModDetailPageController.js"></script>
  <script src="js/printLabelPage.js"></script>
  <script src="js/storageLogPage.js"></script>
  <script src="js/flyingStoragePage.js"></script>
  <script src="js/csvCatalogMondadoriController.js"></script>
  <script src="js/csvCatalogDeAgostiniController.js"></script>
  <script src="js/versionPageController.js"></script>
  <script src="js/mailPageController.js"></script>   
  <script src="js/storageInventoryPageController.js"></script>  
</head>
<body ng-app="SIRIOApp">
  <md-toolbar layout-padding ng-controller="headerController" md-theme="{{ActualTheme}}">
      <div class="md-toolbar-tools">
        <img src="img/Pagina43LogoTop.png" style="padding-top:2px;width:200px;height:auto;">
        <span flex></span>
        <div layout="column">
           <br/>
           <span class="md-caption" style="color:white;font-weight:bold;text-align:right;padding-right:7px;">Versione {{appVersion}}</span>
        </div>
      </div>
      <div ng-if="LoginEffettuato" layout="row">
        <div flex="20" >
           &nbsp
        </div>
        <div flex="80" style="text-align:right;">
           <md-button class="md-fab md-mini md-primary" title="HOME" ng-click="GoHome()" ng-if="VisButtonHome">
             <md-icon md-svg-src="img/icons/home.svg" style="color: greenyellow;fill:white;"></md-icon>
           </md-button>
           <md-button class="md-fab md-mini md-primary" title="CAMBIO PASSWORD" ng-click="ChangePassword()" ng-if="VisButtonChangePassword">
             <md-icon md-svg-src="img/icons/CambiaPassword.svg" style="color: greenyellow;fill:white;"></md-icon>
           </md-button>
           <md-button class="md-fab md-mini md-primary" title="LOGOUT" ng-click="Logout()">
             <md-icon md-svg-src="img/icons/Logout.svg" style="color: greenyellow;fill:white;"></md-icon>
           </md-button>
           <md-button class="md-fab md-mini md-primary" title="INFO" ng-click="CheckVersions()" ng-if="VisButtonInfo">
             <md-icon md-svg-src="img/icons/VersionInfo.svg" style="color: greenyellow;fill:white;"></md-icon>
           </md-button>
        </div>
      </div>
  </md-toolbar>
  <md-content layout-padding ui-view>
  </md-content>
</body>
</html>